<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>reviewBoardUpdate</title>
    <link rel="stylesheet" th:href="@{/css/board/boardDetail.css}">
</head>
<body>

<div th:replace="~{/fragments/common/header :: headerFragment }"></div>

<div class="container">
    <div class="boardDetail">
        <div class="boardDetail-con">
            <div class="boardDetail-form">
                <!--                <form th:action="@{/board/boardDetail}" method="POST" enctype="multipart/form-data">-->
                <form th:action="@{/board/reviewBoardUpdate}" method="post" enctype="multipart/form-data">
                    <!--th:object="${boardEntity}"-->
                    <!-- boardDto를 가져와서 사용할 수 있게 해준다  -> 밑에서 title,cotent 등을 사용할 수 있게된 이유임-->

                    <ul>
                        <li>
                            수강후기 수정
                        </li>
                        <li>

                            <select name="category" id="category" th:value="${board.category}">
                                <option value="4" th:selected="${board.category}=='4' ">미술</option>
                                <option value="5" th:selected="${board.category}=='5' ">체육</option>
                                <option value="6" th:selected="${board.category}=='6' ">음악</option>
                                <option value="7" th:selected="${board.category}=='7' ">요리</option>
                            </select>

                        </li>

                        <li>
                            <label for="id">글번호</label>
                            <input type="text" name="id" id="id" th:value="${board.id}" readonly>
                        </li>

                        <li>
                            <!--                            <label for="memberId" hidden="hidden">회원아이디</label>-->
                            <input type="hidden" name="memberId" id="memberId" th:value="${memberId}" readonly>
                        </li>


                        <li>
                            <label for="boardWriter">글쓴이</label>
                            <input type="text" name="boardWriter" id="boardWriter" th:value="${board.boardWriter}"
                                   readonly>
                        </li>

                        <li>
                            <label for="boardTitle">제목</label>
                            <input type="text" name="boardTitle" id="boardTitle" th:value="${board.boardTitle}">
                        </li>                                 <!-- name 값을 포함하고 있어서 name안써도 된다 -->
                        <!--                        <p th:if="${#fields.hasErrors('boardTitle')}" th:errors="*{boardTitle}" class="error"></p>-->


                        <li>
                            <label for="boardContent">내용</label>
                        </li>
                        <li>
                            <textarea name="boardContent" id="boardContent"
                                      cols="30" rows="10" th:text="${board.boardContent}"></textarea>
                        </li>


                        <!--                        <th:block th:if="${board.boardAttachFile==1}">   &lt;!&ndash; 조건 충족하면 아래 식 실행 &ndash;&gt;-->
                        <!--                            <img th:src="@{|/upload/${board.boardFileEntityList.boardNewFileName}|}" alt="이미지 대체문구">-->
                        <!--                        </th:block>-->

                        <!--                        <th:block th:unless="${board.boardAttachFile==1}">-->
                        <!--                            <img src="https://placehold.co/400x200?text=NOIMAGE" alt="이미지 대체문구">-->
                        <!--                        </th:block>-->

                        <li>
                            <label for="boardFile">파일</label>
                            <input type="file" name="boardFile" id="boardFile">
                        </li>


                        <li>
                            <input type="submit" value="수정">
                            <a th:href="@{/board/reviewBoardList}">목록</a>
                            <a th:href="@{/board/noticeBoardDelete/{id}(id=${board.id})}">삭제</a>
                        </li>


                    </ul>


                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{/fragments/common/footer :: footerFragment }"></div>
</body>
</html>


