@import url(/css/common/reset.css);
@import url(/css/common/footer.css);
@import url(/css/common/header.css);


/* index */
.container {
  width: 100%;
  height: auto;

}

.container .write {
  width: 100%;
  /* height: calc( 100vh - 70px - 150px ); */

  display: flex;
  justify-content: center;
  align-items: center;
}

.container .write .write-con {

  width: 100%;
  height: calc(100vh - 70px - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .write .write-con .write-form {
  background-color: #6478FF;
  flex-basis: 400px;
  padding: 20px;
  box-sizing: border-box;
}

.container .write .write-con .write-form ul {
  display: flex;
  flex-direction: column;
  gap: 3px;

}

.container .write .write-con .write-form ul li {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.container .write .write-con .write-form ul li:nth-child(1) {
  padding: 5px 0;
 
  font-size: 20px;
  background-color: #B9FFFF;
  color: #ffffff;
  text-align: center;
}

.container .write .write-con .write-form ul li label {
  flex: 1;
}
.container .write .write-con .write-form ul li input[type=text]{
  flex: 3;
}
.container .write .write-con .write-form ul li select{
flex: 3;
text-align: center;
}

.container .write .write-con .write-form ul li textarea{
  flex: 1;
  resize: none;
}
.container .write .write-con .write-form ul li input[type=submit]{
flex: 1;
padding: 5px;
box-sizing: border-box;
background-color: #B9FFFF;
color: #ffffff;
}