<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>memberList</title>
    <link rel="stylesheet" th:href="@{/css/admin/memberList.css}">
</head>

<body>
<div th:replace="~{/fragments/common/header :: headerFragment}"></div>
<div class="container">
    <div class="memberList">
        <div class="menu">
            <label>메뉴</label>
            <ul>
                <li><img th:src="@{/images/home.png}" alt="icon"><a th:href="@{/}" class="item">HOME</a></li>
                <li><img th:src="@{/images/plus.png}" alt="icon"><a th:href="@{/admin/memberList}">회원조회</a></li>
                <li><img th:src="@{/images/users.png}" alt="icon"><a th:href="@{/admin/sellerList}">선생님조회</a></li>
            </ul>
        </div>
        <div class="memberList-con">
            <h1>회원 리스트</h1>
            <thead>
            <div class="search">
                <div class="search-con">
                    <form th:action="@{/admin/memberList}" method="get">
                        <select name="subject" id="subject">
                            <option value="" th:selected="${#strings.equals(param.subject)}">::선택::</option>
                            <option value="name" th:selected="${#strings.equals( param.subject,'name')}">이름</option>
                            <option value="phoneNumber" th:selected="${#strings.equals(param.subject,'phoneNumber')}">
                                전화번호
                            </option>
                            <option value="userEmail" th:selected="${#strings.equals(param.subject,'userEmail')}">이메일
                            </option>
                        </select>
                        <input type="text" name="search" id="search" th:value="${param.search}">
                        <input type="submit" value="검색">
                    </form>
                </div>
            </div>
            </thead>
            <tbody>
            <table>
                <tr>
                    <th>Id</th>
                    <th>이메일</th>
                    <th>비밀번호</th>
                    <th>이름</th>
                    <th>주소</th>
                    <th>전화번호</th>
                    <th>권한</th>
                    <th>가입일</th>
                    <th>수정일</th>
                    <th>보기</th>
                    <th>삭제</th>
                </tr>
                <tr th:each="member:${memberList}">
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.userEmail}"></td>
                    <td th:text="${member.userPw}"></td>
                    <td th:text="${member.name}"></td>
                    <td th:text="${member.address}"></td>
                    <td th:text="${member.phoneNumber}"></td>
                    <td th:text="${member.role}"></td>
                    <td th:text="${#temporals.format(member.createTime, 'yy/MM/dd HH:mm:ss')}"></td>
                    <td th:text="${#temporals.format(member.updateTime, 'yy/MM/dd HH:mm:ss')}"></td>
                    <td><a th:href="@{/member/memberDetail/{id}(id=${member.id})}">보기</a></td>
                    <td><a th:href="@{/admin/memberListDelete/{id}(id=${member.id})}" onclick="return deleteConfirmation()">삭제</a></td>
                    <script>
                        function deleteConfirmation() {
                            var result = confirm("정말로 이 회원을 삭제하시겠습니까?");
                            if (result) {
                                alert("회원이 삭제되었습니다.");
                                return true; // "확인"을 클릭한 경우 링크 이동 실행
                            } else {
                                alert("회원 삭제가 취소되었습니다.");
                                return false; // "취소"를 클릭한 경우 링크 이동 취소
                            }
                        }
                    </script>
                </tr>
            </table>
            </tbody>
            <tfoot>

            <div class="paging">
                <ul>
                    <li>
                        <span th:if="${memberList.pageable.pageNumber+1 eq 1}" class="span0">START</span>
                        <span th:unless="${memberList.pageable.pageNumber+1 eq 1}">
                                     <a th:href="@{/admin/memberList(page=0 , search=${param.search},subject=${param.subject} )}"
                                        class="span1">처음</a>
                                     </span>
                    </li>
                    <li>
                        <!-- 이전페이지가 첫번째 페이지면 span표시 -->
                        <span th:if="${1==memberList.pageable.pageNumber+1}" class="span0">PRE</span>
                        <span th:unless="${1==memberList.pageable.pageNumber+1}">
                                        <a th:href="@{/admin/memberList(page=${memberList.pageable.pageNumber-1}, search=${param.search},subject=${param.subject} )}"
                                           class="span1">이전</a>
                                     </span>
                    </li>
                    <!--block -->
                    <!-- 페이지번호 -->
                    <li th:each="i: ${#numbers.sequence(startPage, endPage)}" class="block">
                                    <span th:if="${i==memberList.pageable.pageNumber+1}" th:text="${i}"
                                          class="now"></span>
                        <a th:unless="${i== memberList.pageable.pageNumber+1}"
                           th:href="@{/admin/memberList(page=${i - 1},search=${param.search},subject=${param.subject} )}"
                           th:text="${i}"></a>
                    </li>
                    <li>
                        <!-- 현재페이지가 마지막 페이지면 span 표시 -->
                        <span th:if="${memberList.totalPages ==memberList.pageable.pageNumber+1}"
                              class="span0">NEXT</span>
                        <!-- 현재페이지가 마지막 페이지가아니면 a표시 현재페이지 +1 -->
                        <span th:unless="${memberList.totalPages ==memberList.pageable.pageNumber+1}">
                                     <a th:href="@{/admin/memberList(page=${memberList.pageable.pageNumber+1},search=${param.search},subject=${param.subject} )}"
                                        class="span1">다음</a>
                </span>
                    </li>
                    <li>
                        <!-- 현재페이지가 마지막 페이지면 span 표시 -->
                        <span th:if="${memberList.totalPages ==memberList.pageable.pageNumber+1}"
                              class="span0">END</span>
                        <!-- 현재페이지가 마지막 페이지가아니면 마지막페이지로 이동해라  a -->
                        <span th:unless="${memberList.totalPages ==memberList.pageable.pageNumber+1}">
                                     <a th:href="@{//admin/memberList(page=${memberList.totalPages-1},search=${param.search},subject=${param.subject} )}"
                                        class="span1">마지막</a>
                </span>
                    </li>
                </ul>
            </div>

            </tfoot>

        </div>
    </div>
</div>
<div th:replace="~{/fragments/common/footer :: footerFragment}"></div>
</body>
>
</html>