@import url('/css/common/reset.css');
@import url('/css/common/footer.css');
@import url('/css/common/header.css');


/* 공통 스타일 */
.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.nav-section {
    grid-row: span 4;
}

.main-content {
    grid-row: span 4;
}

/* 네비게이션 스타일 */
.navigation ul {
    list-style: none;
    padding: 0;
}

.navigation li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

/* 그리드 스타일 */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* 그리드 아이템 스타일 */
.grid ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid li {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* 아래로 확장되도록 설정 */
}

.grid .top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* 이미지 높이에 맞게 조정 */
}

.grid img {
    max-width: 100%;
    max-height: 100%;
}

.grid .bottom {
    padding-top: 10px;
}
.container .shopList .shopList-con .grid>ul>li .bottom>ul>li span:nth-child(1) {
  flex: 1;
  height: 20px;
  color: #179edd;
}

.container .shopList .shopList-con .grid>ul>li .bottom>ul>li span:nth-child(2) {
  flex: 1;
}

/* 페이지네이션 스타일 */
.paging ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.paging li {
    display: inline-block;
    margin-right: 5px;
}

.paging a,
.paging .span0,
.paging .span1 {
    padding: 5px 10px;
    background-color: #f4f4f4;
    text-decoration: none;
    color: #000;
    border: 1px solid #ddd;
}

.paging .now {
    background-color: #ccc;
}

.paging .span0,
.paging .span1 {
    cursor: not-allowed;
}

