<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/inquiry/inquiry.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/board/boardInquiry.css}" />
</head>

<body>
<div class="header">
    <div class="header-con">
        <div class="top-header">
            <div class="top-menu">
                <div class="right-menu">
                    <ul>
                        <th:block sec:authorize="isAnonymous()">
                            <li><a th:href="@{/member/memberLogin}">로그인</a></li>
                            <li><a th:href="@{/member/memberJoin}">회원가입</a></li>
                        </th:block>
                        <li><a th:href="@{/shop/cartList}">장바구니</a></li>
                        <th:block sec:authorize="isAuthenticated()">
                            <li>
                                <th:block th:if="${#authentication.principal.memberEntity.memberAttachFile == 1}">
                                    <img th:src="@{|/upload/${#authentication.principal.memberEntity.memberFileName}|}"
                                         alt="photo" height="28px">
                                </th:block>
                                <th:block th:unless="${#authentication.principal.memberEntity.memberAttachFile == 1}">
                                    <img th:src="@{/images/user.png}" alt="이미지대체문구" height="24px">
                                </th:block>
                            </li>
                            <li>
                                <a th:href="@{/member/memberDetail/{id}(id=${#authentication.principal.memberEntity.id})}"
                                   th:text="${#authentication.principal.username}"></a>
                            </li>
                            <th:block sec:authorize="hasAnyRole('ADMIN')">
                                <li><a th:href="@{/admin/memberList}">ADMIN</a></li>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('MANAGER')">
                                <li>MANAGER</li>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('MEMBER')">
                                <li>MEMBER</li>
                            </th:block>
                            <li><a th:href="@{/member/logout}">LOGOUT</a></li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="inquiry">
    <div class="inquiry-con">
        <div class="left">
            <div class="left-con">
                <div class="writeForm">


                    <form action="/board/inquiry/write" method="POST">
                        <input type="text" name="boardWriter" id="boardWriter" placeholder="작성자" />
                        <!-- 추가된 부분 -->
                        <input type="text" name="boardTitle" id="boardTitle" placeholder="문의제목을 입력해주세요" />
                        <textarea name="boardContent" id="boardContent" placeholder="문의내용을 입력해주세요"></textarea>
                        <input type="hidden" name="category" id="category" value="8" />
                        <!-- 추가된 부분 -->

                        <button type="submit" onclick="ajaxInquiry(event)">작성</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-con">
                <table>
                    <thead>
                    <tr>
                        <th>제목</th>
                        <th>문의내용</th>
                        <th>작성자</th>
                        <th>문의답변</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inquiry : ${boardDtoList}">
                        <td th:text="${inquiry.boardTitle}"></td>
                        <td th:text="${inquiry.boardContent}"></td>
                        <td th:text="${inquiry.boardWriter}">작성자</td>
                        <td>
                            <a th:href="@{/board/boardAnswer(id=${inquiry.id})}">문의답변</a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-con">
        <span>(주)E1I4</span> <span> ㅣ </span>
        <span>대표:박준우</span> <span> ㅣ </span>
        <span>사업자 등록번호: 000-00-0000000</span> <span> ㅣ </span>
        <p>주소:서울특별시 노원구 그린아카데미</p>
        <p>E1I4</p>
        <img th:src="@{/images/instagram.png}" alt="" class="circle">
        <img th:src="@{/images/kakao-talk.png}" alt="" class="circle">
        <img th:src="@{/images/facebook.png}" alt="" class="circle">
        <img th:src="@{/images/youtube.png}" alt="" class="circle">
        <img th:src="@{/images/twitter.png}" alt="" class="circle">
        <img th:src="@{/images/apple-logo.png}" alt="" class="circle">
    </div>
</div>
</body>

</html>