<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardUpdate</title>
    <link rel="stylesheet" th:href="@{/css/board/boardDetail.css}">
</head>
<body>

<div th:replace="~{/fragments/common/header :: headerFragment }"></div>

<div class="container">
    <div class="boardDetail">
        <div class="boardDetail-con">
            <div class="boardDetail-form">
                <!--                <form th:action="@{/board/boardDetail}" method="POST" enctype="multipart/form-data">-->
                <form th:action="@{/board/boardUpdate}" method="POST" enctype="multipart/form-data">  <!--th:object="${boardEntity}"-->
                    <!-- boardDto를 가져와서 사용할 수 있게 해준다  -> 밑에서 title,cotent 등을 사용할 수 있게된 이유임-->

                    <ul>
                        <li>
                            게시글 수정
                        </li>

                        <li>
                            <select name="category" id="category">
                                <option value="1" th:selected="${board.category}=='1' ">자유게시판</option>
                                <option value="2" th:selected="${board.category}=='2' ">질문게시판</option>
                            </select>
                        </li>

                        <li>
                            <label for="id">글번호</label>
                            <input type="text" name="id" id="id" th:value="${board.id}" readonly>
                        </li>

                        <li>
<!--                            <label for="memberId" hidden="hidden">회원아이디</label>-->
                            <input type="hidden" name="memberId" id="memberId" th:value="${memberId}" readonly >
                        </li>

                        <li>
                            <label for="boardWriter">글쓴이</label>
                            <input type="text" name="boardWriter" id="boardWriter" th:value="${board.boardWriter}" readonly>
                        </li>

                        <li>
                            <label for="boardTitle">제목</label>
                            <input type="text" name="boardTitle" id="boardTitle" th:value="${board.boardTitle}" >
                        </li>                                 <!-- name 값을 포함하고 있어서 name안써도 된다 -->
                        <!--                        <p th:if="${#fields.hasErrors('boardTitle')}" th:errors="*{boardTitle}" class="error"></p>-->


                        <li>
                            <label for="boardContent">내용</label>
                        </li>
                        <li>
                            <textarea name="boardContent" id="boardContent"
                                      cols="30" rows="10" th:text="${board.boardContent}"></textarea>
                        </li>
                        <!-- <p th:if="${#fields.hasErrors('boardContent')}" th:errors="*{boardContent}" class="error"></p>-->


<!--                        <th:block th:if="${board.boardAttachFile==1}">   &lt;!&ndash; 조건 충족하면 아래 식 실행 &ndash;&gt;-->
<!--                            <img th:src="@{|/upload/${board.newFileName}|}" alt="이미지 대체문구" >-->
<!--                        </th:block>-->

<!--                        <th:block th:unless="${board.boardAttachFile==1}">-->
<!--                            <img src="https://placehold.co/400x200?text=NOIMAGE" alt="이미지 대체문구">-->
<!--                        </th:block>-->

                        <li>
                            <label for="boardFile">파일</label>
                            <input type="file" name="boardFile" id="boardFile">
                        </li>



                        <li>
                            <!--                            권한 설정하기(자기글만 + 자기글/admin-->
                            <input type="submit" value="수정">
                            <a th:href="@{/board/boardList}">목록</a>
                            <a th:href="@{/board/boardDelete/{id}(id=${board.id})}">삭제</a>
                        </li>


                    </ul>


                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{/fragments/common/footer :: footerFragment }"></div>
</body>
</html>

<!--@Override // 파일을 고려한 매서드-->
<!--public void boardInsertFile(BoardDto boardDto) throws IOException {-->

<!--if (boardDto.getBoardFile().isEmpty()) {-->
<!--//파일 없는 경우-->
<!--//dto->entity-->
<!--boardDto.setMemberEntity(MemberEntity.builder()-->
<!--.id(boardDto.getMemberId())-->
<!--.build());-->
<!--//board 에 맞는 memberId 정보를 가져와야하는데 boardDto에 가져올 방법이-->
<!--// 없어서 MemberEntity로 바꿔서 boardDto로 가져온다.-->
<!--BoardEntity boardEntity = BoardEntity.toInsertBoardEntity0(boardDto);-->

<!--boardRepository.save(boardEntity);-->

<!--} else {-->
<!--//파일 있는 경우 -> 파일저장 별도의 테이블 생성 1:N-->
<!--//원본 파일, 이름 -> 서버 저장 이름-->
<!--// 저장 경로(실제 경로) -> 파일 저장-->
<!--// 테이블 저장(게시글 ,파일)-->
<!--////////////////////////////////////파일이 실제 경로에 저장//////////////////////////////-->
<!--MultipartFile boardFile = boardDto.getBoardFile();// 1. 파일을 가져온다. Dto-->
<!--// 이름 암호화 -> DB 저장, local에 저장 할 이름-->
<!--String oldFileName = boardFile.getOriginalFilename();// 원본파일 이름-->
<!--UUID uuid = UUID.randomUUID(); //random id -> 랜덤한 값을 추출하는 플래스-->
<!--// ex) "gasdga_board0.jpg"-->
<!--// ex) "gasdga"+"_"+"board0.jpg"-->
<!--String newFileName = uuid + "_" + oldFileName; // 저장파일이름 (보완)-->

<!--//            String filePath="C:/spring_savefile/"+newFileName; // 실제 파일 저장경로+이름-->
<!--String filePath = "C:/E1I4_file/" + newFileName; // 실제 파일 저장경로+이름-->
<!--//실제파일 저장 실행-->
<!--boardFile.transferTo(new File(filePath));//저장, 예외처리 -> 경로에 파일 저장-->
<!--//IOException-->
<!--////////////////////////////////////파일이 실제 경로에 저장//////////////////////////////-->


<!--///////////////////////////////////파일이 DB에 저장///////////////////////////-->
<!--// 1. 게시글 ->-->
<!--boardDto.setMemberEntity(MemberEntity.builder()-->
<!--.id(boardDto.getMemberId())-->
<!--.build());-->
<!--BoardEntity boardEntity = BoardEntity.toInsertBoardEntity1(boardDto);-->
<!--Long id = boardRepository.save(boardEntity).getId();-->


<!--Optional<BoardEntity> optionalBoardEntity = boardRepository.findById(id);-->
<!--    if (optionalBoardEntity.isPresent()) { // -> 게시글이 존재한다면-->
<!--    //게시글 0-->
<!--    BoardEntity boardEntity1 = optionalBoardEntity.get(); //Entity-->

<!--    //게시글이 저장되면 -> 파일을 Entity에 저장-->

<!--    BoardFileDto fileDto = BoardFileDto.builder().boardOldFileName(oldFileName)-->
<!--    .boardNewFileName(newFileName)-->
<!--    .boardEntity(boardEntity1)-->
<!--    .build();-->

<!--    BoardFileEntity fileEntity = BoardFileEntity.toBoardInsertFile(fileDto);-->

<!--    boardFileRepository.save(fileEntity);-->

<!--    } else {-->
<!--    throw new IllegalArgumentException("아이디가 없습니다");-->
<!--    }-->


<!--    }-->
<!--    }-->