<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardDetail</title>
    <link rel="stylesheet" th:href="@{/css/board/boardDetail.css}">
</head>
<body>

<div th:replace="~{/fragments/common/header :: headerFragment }"></div>

<div class="container">
    <div class="boardDetail">
        <div class="boardDetail-con">
            <div class="boardDetail-form">
                <!--                <form th:action="@{/board/boardDetail}" method="POST" enctype="multipart/form-data">-->
                <form th:action="@{/board/boardDetail}" method="GET">  <!--th:object="${boardEntity}"-->
                    <!-- boardDto를 가져와서 사용할 수 있게 해준다  -> 밑에서 title,cotent 등을 사용할 수 있게된 이유임-->

                    <ul>
                        <li>
                            상세보기
                        </li>
                        <!--                        <input th:text="${userId}">아이디</input> <br>-->
                        <li>

                            <label>category</label>
<!--                            <input th:value="${board.category}" readonly>-->
                            <span th:if="${board.category eq 1}" th:text="자유게시판" ></span>
                            <span th:if="${board.category eq 2}" th:text="질문게시판" ></span>
                            <span th:if="${board.category eq 3}" th:text="공지사항" ></span>
                            <span th:if="${board.category eq 4}" th:text="미술" ></span>
                            <span th:if="${board.category eq 5}" th:text="체육" ></span>
                            <span th:if="${board.category eq 6}" th:text="음악" ></span>
                            <span th:if="${board.category eq 7}" th:text="요리" ></span>
                        </li>

                        <li>
                            <label for="boardId">글번호</label>
                            <input type="text" name="boardId" id="boardId" th:value="${board.id}" readonly>
                        </li>

                        <li>
                            <label for="boardWriter">글쓴이</label>
                            <input type="text" name="boardWriter" id="boardWriter" th:value="${board.boardWriter}"
                                   readonly>
                        </li>

                        <li>
                            <label for="boardTitle">제목</label>
                            <input type="text" name="boardTitle" id="boardTitle" th:value="${board.boardTitle}"
                                   readonly>
                        </li>                                 <!-- name 값을 포함하고 있어서 name안써도 된다 -->
                        <!--                        <p th:if="${#fields.hasErrors('boardTitle')}" th:errors="*{boardTitle}" class="error"></p>-->


                        <li>
                            <label for="boardContent">내용</label>
                        </li>

                        <li>
                            <textarea name="boardContent" id="boardContent" cols="30" rows="10"
                                      th:text="${board.boardContent}" READONLY></textarea>
                        </li>

                        <!-- <p th:if="${#fields.hasErrors('boardContent')}" th:errors="*{boardContent}" class="error"></p>-->


                        <li th:if="${board.boardAttachFile==1}">
                            <!--  이미지 표시 -->
                            <img th:src="@{|/upload/${board.newFileName}|}" alt="이미지대체문구">
                        </li>

                        <li th:unless="${board.boardAttachFile==1}">
                            <!--  이미지 표시 -->
                            <img src="https://placehold.co/400x300" alt="이미지대체문구">
                        </li>


                        <li>
                            <label for="createTime">작성시간 :</label>
                            <td th:text="${#temporals.format(board.createTime, 'yyyy년-MM월-dd일')}" id="createTime"></td>
                        </li>
                        <li>
                            <label for="updateTime">수정시간 :</label>
                            <td th:text="${#temporals.format(board.updateTime, 'yyyy년-MM월-dd일')}" id="updateTime"></td>
                        </li>


                        <th:block sec:authorize="isAuthenticated()">
                            <th:block sec:authorize="hasAnyRole('ADMIN')">
                                <li>
                                    <!--                            <a th:href="@{/board/boardUpdate/{id}(id=${board.id})}">수정</a>-->
                                    <a th:href="@{/board/boardDelete/{id}(id=${board.id})}">삭제</a>
                                </li>
                            </th:block>

                            <th:block th:if="${board.memberEntity.userEmail==myUserDetails.username}">
                                <li>
                                    <a th:href="@{/board/boardUpdate/{id}(id=${board.id})}">수정</a>
                                    <a th:href="@{/board/boardDelete/{id}(id=${board.id})}">삭제</a>
                                </li>
                            </th:block>

                        </th:block>

                        <!--항상 보이는것-->
                        <li>
                            <a th:href="@{/board/boardList}">목록</a>
                        </li>


                    </ul>


                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{/fragments/common/footer :: footerFragment }"></div>
</body>
</html>