<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/board/boardInquiry.css}">

    <link rel="stylesheet" th:href="@{/css/index.css}">
    <div th:replace="~{/fragments/common/header :: headerFragment}"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:src="@{/js/inquiry/inquiry.js}" defer></script>

<div class="writeForm">
    <form action="/Inquiry" method="POST">
        <input type="text" name="title" placeholder="제목을 입력해주세요">
        <textarea name="content" placeholder="문의내용을 입력해주세요"></textarea>
        <input type="hidden" name="category" id="category" value="7"> <!-- 추가된 부분 -->
        <button type="submit">작성</button>
    </form>
</div>
    <tbody>
    <!-- 여기에 1:1문의내역 표시-->
    <tr th:each="inquiry : ${boardList}">
        <td th:text="${inquiry.title}">제목</td>
        <td th:text="${inquiry.content}">문의내용</td>
        <td th:text="${inquiry.writer}">작성자</td>

    </tr>
    </tbody>
    <div class="reply">
        <div class="reply-con">
            <h1 class="title">댓글작성</h1>
            <form th:action="@{/reply/replyWrite}" method="POST">
               <!-- <input type="hidden" name="inquiryId" th:value="${inquiry.id}">-->
                <input type="text" name="replyContent" placeholder="문의답변내용">
                <input type="text" name="replyWriter" placeholder="작성자">
                <input type="submit" value="댓글작성 ">

            </form>
        </div>
    </div>











</html>