<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardUpdate</title>
    <link rel="stylesheet" th:href="@{/css/board/boardWrite.css}">
</head>
<body>

<div th:replace="~{/fragments/common/header :: headerFragment }"></div>

<div class="container">
    <div class="boardWrite">
        <div class="boardWrite-con">
            <div class="boardWrite-form">
                <form th:action="@{/board/boardWrite}" method="POST" enctype="multipart/form-data">
                    <!-- boardDto를 가져와서 사용할 수 있게 해준다  -> 밑에서 title,cotent 등을 사용할 수 있게된 이유임-->

                    <ul>
                        <li>
                            <h1>저유/ 질문 게시글 수정</h1>
                        </li>

                        <li>
                            <label for="category">분류</label>
                        </li>
                        <li>
                            <select name="category" id="category">
                                <option value="1" th:selected="${board.category}=='1' ">자유게시판</option>
                                <option value="2" th:selected="${board.category}=='2' ">질문게시판</option>
                            </select>
                        </li>

                        <li>
                            <label for="id">글번호</label>
                            <input type="text" name="id" id="id" th:value="${board.id}" readonly>
                        </li>

                        <li>
                            <input type="hidden" name="memberId" id="memberId" th:value="${memberId}" readonly >
                        </li>

                        <li>
                            <label for="boardWriter">작성자</label>
                        </li>
                        <li>
                            <input type="text" name="boardWriter" id="boardWriter" th:value="${board.boardWriter}" readonly>
                        </li>

                        <li>
                            <label for="boardTitle">제목</label>
                        </li>
                        <li>
                            <input type="text" name="boardTitle" id="boardTitle" th:value="${board.boardTitle}" >
                        </li>


                        <li>
                            <label for="boardContent">내용</label>
                        </li>
                        <li>
                            <textarea name="boardContent" id="boardContent"
                                      cols="30" rows="10" th:text="${board.boardContent}"></textarea>
                        </li>


                        <li>
                            <label for="boardFile">파일</label>
                            <input type="file" name="boardFile" id="boardFile">
                        </li>


                        <li>
                            <!--                            권한 설정하기(자기글만 + 자기글/admin-->
                            <input type="submit" value="수정">
                            <a th:href="@{/board/boardList}">목록</a>
                            <a th:href="@{/board/boardDelete/{id}(id=${board.id})}">삭제</a>
                        </li>


                    </ul>


                </form>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{/fragments/common/footer :: footerFragment }"></div>
</body>
</html>

