<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>writeLink</title>
    <link rel="stylesheet" th:href="@{/css/board/boardDetail.css}">
</head>
<body>

<div th:replace="~{/fragments/common/header :: headerFragment }"></div>
<h1>글작성 모음 링크</h1> <br>
<h1>글작성을 하려면 로그인해주세요</h1> <br>
<th:block sec:authorize="isAuthenticated()">
    <a th:href="@{board/boardWrite}">커뮤니티 글쓰러 바로가기</a>
    <a th:href="@{board/reviewWrite}">수강후기 글쓰러 바로가기</a>
</th:block>

<th:block sec:authorize="isAuthenticated()">
    <th:block sec:authorize="hasAnyRole('ADMIN')">
            <a th:href="@{board/noticeWrite}">공지사항 글쓰러 바로가기(관리자만)</a>
    </th:block>
</th:block>


<div th:replace="~{/fragments/common/footer :: footerFragment }"></div>

</body>
</html>