<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/board/boardList.css}">
</head>
<body>

<div th:replace="~{fragments/common/header :: headerFragment}"></div>

<div class="container">
    <div class="boardList">
        <div class="boardList-con">
            <h1>boardDtoList</h1>
            <table>
                <thead>
                <tr>
                    <td colspan="10">
                        <div class="search">
                            <div class="search-con">
                                <form th:action="@{/board/noticeBoardList}" method="get">
                                    <select name="subject" id="subject">
                                        <option value="" th:selected="${#strings.isEmpty(param.subject)}">::선택::</option>
                                        <option value="boardTitle" th:selected="${#strings.equals(param.subject,'boardTitle')}">제목</option>
                                        <option value="boardContent" th:selected="${#strings.equals(param.subject,'boardContent')}">내용</option>

                                    </select>

                                    <input type="text" name="search" id="search" th:value="${param.search}">
                                    <input type="submit" value="검색">
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>

                    <th>글번호</th>
                    <th>종류</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성날짜</th>
                    <th>조회수</th>

                </tr>

                </thead>

                <tbody>
                <tr th:each="board: ${boardDtoList}">



                    <td th:text="${board.id}" hidden="hidden"></td>

                    <td th:if="${board.category eq 3}" th:text="공지" ></td>
                    <td th:text="${board.category}"></td>




                    <td>
                        <a th:href="@{/board/boardDetail/{id}(id=${board.id})}">

                            <label th:text="${board.boardTitle}"></label>

<!--                            <th:block th:if="${board.boardAttachFile==1}">-->
<!--                                <td>O</td>-->
<!--                            </th:block>-->

<!--                            <th:block th:unless="${board.boardAttachFile==1}">-->
<!--                                <td>X</td>-->
<!--                            </th:block>-->

                        </a>
                    </td>
                    <!--제목을 누르면 Detail로 이동-->

                    <td th:text="${board.boardWriter}"></td>
                    <!--회원이름으로 불러오기  1. 글작성할때 boardWriter를 memberName으로 불러와서 쓸지
                                            2. 여기에서 바로 memberName 으로 받아올지-->

                    <td th:text="${#temporals.format(board.createTime, 'yyyy-MM-dd')}"></td>
                    <!--                    <td th:text="${board.memberId}"></td>-->


                    <td th:text="${board.boardHit}"></td>


                </tr>
                </tbody>

                <tfoot>

                <tr>
                    <td colspan="10">
                        <div class="paging">
                            <ul>
                                <li>
                                    <!--                                      1111현재페이지가 첫번째 페이지이면 span태그 표시하라-->
                                    <span th:if="${boardDtoList.pageable.pageNumber+1 eq 1}" class="span0">START</span>
                                    <!--                                      2222현재 페이지가 첫번째 페이지가 아니면 아래a태그를 표시하라-->
                                    <span th:unless="${boardDtoList.pageable.pageNumber+1 eq 1}">
                                          <a th:href="@{/board/noticeBoardList(page=0)}" class="span1">처음</a>
                                      </span>
                                </li>

                                <li>
                                    <!--                                      1111현재페이지가 첫번째 페이지이면 span표시-->
                                    <span th:if="${1==boardDtoList.pageable.pageNumber+1}" class="span0"></span>
                                    <!--                                        2222현재페이지가 첫번째 페이지가 아니면 아래 a태그 표시 -->
                                    <span th:unless="${1==boardDtoList.pageable.pageNumber+1}">
                                          <a th:href="@{/board/noticeBoardList(page=${boardDtoList.pageable.pageNumber-1})}" class="span1">이전</a>
                                      </span>
                                </li>

                                <!--                                  block-->
                                <!--                                  페이지번호-->
                                <li th:each="i: ${#numbers.sequence(startPage,endPage)}" class="block">
                                    <span th:if="${i==boardDtoList.pageable.pageNumber+1}" th:text="${i}" class="now"></span>
                                    <a th:unless="${i==boardDtoList.pageable.pageNumber+1}"
                                       th:href="@{/board/noticeBoardList(page=${i-1})}" th:text="${i}"></a>
                                </li>

                                <li>
                                    <!--                                      현재페이지가 마지막페이지이면 span표시-->
                                    <span th:if="${boardDtoList.totalPages==boardDtoList.pageable.pageNumber+1}" class="span0"></span>
                                    <!--                                      현재 페이지가 마지막 페이지가 아니면 a 표시   현재페이지+1-->
                                    <span th:unless="${boardDtoList.totalPages==boardDtoList.pageable.pageNumber+1}">
                                          <a th:href="@{/board/noticeBoardList(page=${boardDtoList.pageable.pageNumber+1})}" class="span1">다음</a>
                                      </span>
                                </li>

                                <li>
                                    <!--                                      현재페이지가 마지막 페이지이면 span 표시-->
                                    <span th:if="${boardDtoList.totalPages==boardDtoList.pageable.pageNumber+1}" class="span0">END</span>
                                    <!--                                      현재 페이지가 마지막 페이지가 아니면 마지막 페이지로 이동해라 a태그-->
                                    <span th:unless="${boardDtoList.totalPages==boardDtoList.pageable.pageNumber+1}">
                                          <a th:href="@{/board/noticeBoardList(page=${boardDtoList.totalPages-1})}" class="span1">마지막</a>
                                      </span>
                                </li>

                            </ul>
                        </div>
                    </td>
                </tr>
                </tfoot>

            </table>
            <!--로그인 한 회원만 글 작성 버튼이 보이도록 or 글작성 버튼은 모두에게 보이고 비회원은 alert 창 띄우기-->
            <th:block sec:authorize="isAuthenticated()">
                <th:block sec:authorize="hasAnyRole('ADMIN')">
                    <div class="writeButton">
                        <a th:href="@{/board/noticeBoardWrite}"> 글 작성 </a>
                    </div>
                </th:block>
            </th:block>
        </div>
    </div>
</div>

<div th:replace="~{fragments/common/footer :: footerFragment}"></div>

</body>
</html>