<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <link rel="stylesheet" th:href="@{/css/member/memberJoin.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script th:src="@{/js/member.js}" defer></script>
</head>
<body>

<div th:replace="~{/fragments/common/header :: headerFragment}"></div>
<div class="container">
    <div class="join">
        <div class="joinLogin-con">
            <h1 class="joinBtn"><a th:href="@{/member/memberJoin}">회 원 가 입</a></h1>
            <h1 class="loginBtn"><a th:href="@{/member/memberLogin}">로 그 인</a></h1>
        </div>
        <h2>※ 강의 판매를 원하시면 강사로 회원가입 해주세요.</h2>
        <div class="memberSellerBtn">
            <button type="button" id="memberJoinBtn" onclick="openMemberJoin()" class="memberJoinBtn">수 강 생</button>
            <button type="button" id="sellerJoinBtn" onclick="openSellerJoin()" class="sellerJoinBtn">강 사</button>
        </div>

        <div class="memberJoin-con" id="memberJoin-con">
            <form th:action="@{/member/memberJoin}" method="post" th:object="${memberDto}"
                  enctype="multipart/form-data">
                <ul>
                    <li>
                        <label for="memberEmail">이 메 일<span class="imp">*</span></label>
                    </li>
                    <li>
                        <input type="email" id="memberEmail" th:field="*{userEmail}" placeholder="이 메 일"> <br>
                    </li>
                    <p th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="error"></p>
                    <li>
                        <label for="memberUserPw">비 밀 번 호<span class="imp">*</span></label>
                        <div id="memberShowPw" class="memberShowPw">
                            <img th:src="@{/images/eye.png}" alt="이미지대체문구" height="24px">
                        </div>

                    </li>
                    <li>
                        <input type="password" id="memberUserPw" th:field="*{userPw}" placeholder="비 밀 번 호">

                    </li>
                    <p th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}" class="error"></p>
                    <li>
                        <label for="memberUserPwCheck">비 밀 번 호 확 인<span class="imp">*</span></label>
                    </li>
                    <li>
                        <input type="password" id="memberUserPwCheck" th:field="*{userPwCheck}"
                               placeholder="비 밀 번 호 확 인">
                    </li>
                    <p th:if="${#fields.hasErrors('userPwCheck')}" th:errors="*{userPwCheck}" class="error"></p>
                    <li>
                        <label for="memberName">이 름<span class="imp">*</span></label>
                    </li>
                    <li>
                        <input type="text" id="memberName" th:field="*{name}" placeholder="이 름"> <br>
                    </li>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>
                    <li>
                        <label for="memberAddress">주 소</label>
                    </li>
                    <li>
                        <input type="text" id="memberAddress" th:field="*{address}" placeholder="주 소"> <br>
                    </li>
                    <li>
                        <label for="memberPhoneNumber">전 화 번 호</label>
                    </li>
                    <li>
                        <input type="text" id="memberPhoneNumber" oninput="memberPhoneNumberInput()" maxlength="13"
                               th:field="*{phoneNumber}" placeholder="전화번호 ( ' - ' 제외, 13자리 입력 )"> <br>
                    </li>
                    <li class="file">
                        <label for="memberFile">사 진 첨 부</label>
                        <input type="file" name="memberFile" id="memberFile">
                    </li>

                    <li class="li2">
                        <input type="submit" value="회 원 가 입">
                    </li>
                </ul>
            </form>
        </div>
        <div class="sellerJoin-con" id="sellerJoin-con">
            <form th:action="@{/member/sellerJoin}" method="post" th:object="${memberDto}"
                  enctype="multipart/form-data">
                <ul>
                    <li>
                        <label for="sellerEmail">이 메 일<span class="imp">*</span></label>
                    </li>
                    <li>
                        <input type="email" id="sellerEmail" th:field="*{userEmail}" placeholder="이 메 일">
                    </li>
                    <p th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="error"></p>
                    <li>
                        <label for="sellerUserPw">비 밀 번 호<span class="imp">*</span></label>
                        <div id="sellerShowPw" class="sellerShowPw">
                            <img th:src="@{/images/eye.png}" alt="이미지대체문구" height="24px">
                        </div>
                    </li>
                    <li>
                        <input type="password" id="sellerUserPw" th:field="*{userPw}" placeholder="비 밀 번 호"> <br>
                    </li>
                    <p th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}" class="error"></p>
                    <li>
                        <label for="sellerUserPwCheck">비 밀 번 호 확 인<span class="imp">*</span></label>
                    </li>
                    <li>
                        <input type="password" id="sellerUserPwCheck" th:field="*{userPwCheck}"
                               placeholder="비 밀 번 호 확 인">
                    </li>
                    <p th:if="${#fields.hasErrors('userPwCheck')}" th:errors="*{userPwCheck}" class="error"></p>
                    <li>
                        <label for="sellerName">이 름<span class="imp">*</span></label>
                    </li>
                    <li>
                        <input type="text" id="sellerName" th:field="*{name}" placeholder="이 름"> <br>
                    </li>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>
                    <li>
                        <label for="sellerAddress">주 소</label>
                    </li>
                    <li>
                        <input type="text" id="sellerAddress" th:field="*{address}" placeholder="주 소"> <br>
                    </li>
                    <li>
                        <label for="licence">자 격 증</label>
                    </li>
                    <li>
                        <input type="text" id="licence" th:field="*{licence}" placeholder="자 격 증"> <br>
                    </li>
                    <li>
                        <label for="sellerPhoneNumber">전 화 번 호</label>
                    </li>
                    <li>
                        <input type="text" id="sellerPhoneNumber" oninput="sellerPhoneNumberInput()" maxlength="13"
                               th:field="*{phoneNumber}" placeholder="전화번호 ( ' - ' 제외, 13자리 입력 )"> <br>
                    </li>
                    <li class="file">
                        <label for="sellerFile">사 진 첨 부</label>
                        <input type="file" name="memberFile" id="sellerFile">
                    </li>

                    <li class="li2">
                        <input type="submit" value="회 원 가 입">
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{/fragments/common/footer :: footerFragment}"></div>
</body>
</html>