<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>개인 정보</title>
    <script th:src="@{/js/header.js}" defer></script>
    <script th:src="@{/js/member.js}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/member/memberDetail.css}">
</head>
<body>
<div class="header">
    <div class="header-con">
        <div class="top-header">
            <div class="top-menu">
                <div class="right-menu">
                    <ul>
                        <th:block sec:authorize="isAnonymous()">
                            <li><a th:href="@{/member/memberLogin}">로그인</a></li>
                            <li><a th:href="@{/member/memberJoin}">회원가입</a></li>
                        </th:block>
                        <li><a th:href="@{/shop/cartList}">장바구니</a></li>


                        <th:block sec:authorize="isAuthenticated()">
                            <li>
                                <th:block th:if="${#authentication.principal.memberEntity.memberAttachFile == 1}">
                                    <img th:src="@{|/upload/${#authentication.principal.memberEntity.memberFileName}|}"
                                         alt="photo" height="24px">
                                </th:block>
                                <th:block th:unless="${#authentication.principal.memberEntity.memberAttachFile == 1}">
                                    <img th:src="@{/images/user.png}" alt="이미지대체문구" height="24px">
                                </th:block>
                            </li>
                            <li>
                                <a th:href="@{/member/memberDetail/{id}(id=${#authentication.principal.memberEntity.id})}"
                                   th:text="${#authentication.principal.username}"></a>
                            </li>
                            <th:block sec:authorize="hasAnyRole('ADMIN')">
                                <li><a th:href="@{/admin/memberList}">ADMIN</a></li>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('MANAGER')">
                                <li>MANAGER</li>
                            </th:block>
                            <th:block sec:authorize="hasAnyRole('MEMBER')">
                                <li>MEMBER</li>
                            </th:block>
                            <li><a th:href="@{/member/logout}">LOGOUT</a></li>
                        </th:block>
                    </ul>
                </div>
            </div>
            <div class="bottom-menu">
                <h1 class="left">
                    <a href="#">오늘의 강좌</a>
                </h1>
                <h1 class="logo">
                    <a th:href="@{/index}"><img th:src="@{/images/logo.png}" alt="로고"></a>
                </h1>
            </div>
        </div>
        <div class="bottom-header">
            <div class="pre-gnb on">
                <ul>
                    <li>
                        <a href="#">강 의 실</a>
                    </li>
                    <li>
                        <a href="#">게 시 판</a>
                    </li>
                    <li>
                        <a href="#">강 사</a>
                    </li>
                    <li>
                        <a href="#">마 이 페 이 지</a>
                    </li>
                </ul>
            </div>

            <div class="gnb off">
                <ul>
                    <li>
                        <a th:href="@{/shop/shopList}">강 의 실</a>
                        <ul class="sub">
                            <li><a th:href="@{/shop/shopList}">전체</a></li>
                            <li><a th:href="@{/shop/shopList1}">미술</a></li>
                            <li><a th:href="@{/shop/shopList2}">체육</a></li>
                            <li><a th:href="@{/shop/shopList3}">음악</a></li>
                            <li><a th:href="@{/shop/shopList3}">요리</a></li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/board/boardList}">게 시 판</a>
                        <ul class="sub">
                            <li><a th:href="@{/board/boardList}">커뮤니티</a></li>
                            <li><a th:href="@{/board/noticeBoardList}">공지사항</a></li>
                            <li><a th:href="@{/board/reviewBoardList}">수강후기</a></li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/seller/sellerList}">강 사</a>
                        <ul class="sub">
                            <th:block sec:authorize="hasAnyRole('MANAGER','ADMIN')">
                                <li><a th:href="@{/shop/shopWrite}">강의 등록</a></li>
                            </th:block>
                            <li><a th:href="@{/seller/sellerList}">강사 소개</a></li>
                        </ul>
                    </li>
                    <li>
                        <!--                        <a th:href="@{/member/memberDetail/{id}-->
                        <!--                                    (id=${#authentication.principal.memberEntity.id})}">마 이 페 이 지</a>-->

                        <a th:href="@{#}">마 이 페 이 지</a>
                        <ul class="sub">
                            <th:block sec:authorize="isAuthenticated()">
                                <li>

                                    <a th:href="@{/member/memberDetail/{id}
                                    (id=${#authentication.principal.memberEntity.id} )}">개인정보</a>
                                </li>
                                <th:block sec:authorize="hasAnyRole('ADMIN','MANAGER')">
                                    <li><a th:href="@{/board/boardInquiry/category/{category}
                                    (category=8)}">1:1문의내역</a></li>
                                </th:block>

                                <th:block sec:authorize="hasAnyRole('MEMBER')">
                                    <li><a th:href="@{/board/boardInquiry/member/{id}/category/{category}
                                    (id=${#authentication.principal.memberEntity.id} , category=8 )}">1:1문의내역</a></li>
                                </th:block>
                            </th:block>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="detail">
        <div class="detail-con">
            <div class="detail-form">
                <h1 class="title">개 인 정 보</h1>
                <form th:action="@{/member/memberUpdate}" method="post" enctype="multipart/form-data">
                    <div class="left">
                        <div class="left-con">
                            <h2>프 로 필 사 진</h2>
                            <th:block th:if="${memberDto.memberAttachFile == 1}">
                                <img th:src="@{|/upload/${memberDto.memberFileName}|}" alt="file">
                            </th:block>
                            <th:block th:unless="${memberDto.memberAttachFile == 1}">
                                <img src="http://placehold.co/600X500?text=NOIMAGE" alt="이미지대체문구">
                            </th:block>
                        </div>
                    </div>
                    <div class="right">
                        <div class="right-con">
                            <ul>
                                <li>
                                    <label for="id">번 호</label>
                                </li>
                                <li>
                                    <input type="text" id="id" name="id" th:value="${memberDto.id}" readonly> <br>
                                </li>
                                <li>
                                    <label for="userEmail">이 메 일</label>
                                </li>
                                <li>
                                    <input type="text" id="userEmail" name="userEmail"
                                           th:value="${memberDto.userEmail}">
                                    <br>
                                </li>

                                <li>
                                    <label for="userPw">비 밀 번 호</label>
                                </li>
                                <li>
                                    <input type="text" id="userPw" name="userPw" th:value="${memberDto.userPw}">
                                    <br>
                                </li>

                                <li>
                                    <label for="name">이 름</label>
                                </li>
                                <li>
                                    <input type="text" id="name" name="name" th:value="${memberDto.name}"> <br>
                                </li>

                                <li>
                                    <label for="address">주 소</label>
                                </li>
                                <li>
                                    <input type="text" id="address" name="address" th:value="${memberDto.address}">
                                    <br>
                                </li>
                                <li>
                                    <label for="phoneNumber">전 화 번 호</label>
                                </li>
                                <li>
                                    <input type="text" id="phoneNumber" name="phoneNumber"
                                           th:value="${memberDto.phoneNumber}"> <br>
                                </li>

                                <li>
                                    <label for="role">역 할</label>
                                </li>
                                <li>
                                    <input type="text" id="role" name="role"
                                           th:value="${memberDto.role}" readonly> <br>
                                </li>

                                <li class="file">
                                    <label for="memberFile">사 진</label>

                                    <input type="file" name="memberFile" id="memberFile">
                                </li>

                                <th:block sec:authorize="hasAnyRole('MANAGER')">
                                    <li>
                                        <label for="license">자 격 증</label>
                                    </li>
                                    <li>
                                        <input type="text" name="license" id="license"
                                               th:value="${memberDto.licence}">
                                    </li>
                                </th:block>

                                <th:block th:if="${memberDto.userEmail == myUserDetails.username}">
                                    <li class="li2">
                                        <input type="submit" value="UPDATE">
                                        <a th:href="@{/seller/sellerListDelete/{id}(id=${memberDto.id})}">회원 탈퇴</a>
                                    </li>
                                </th:block>
                                <th:block th:unless="${memberDto.userEmail == myUserDetails.username}">

                                </th:block>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
            <div class="cartList">
                <div class="cartList-con">
                    <div class="cartListTable">
                        <a id="closeCartListBtn" href="#">
                            <img th:src="@{/images/cross.png}" alt="대체이미지">
                        </a>
                        <h2 class="title">장 바 구 니</h2>
                        <table>
                            <thead>
                            <tr>
                                <th>제 목</th>
                                <th>가 격 (&#8361)</th>
                                <th>수 량</th>
                            </tr>
                            </thead>
                            <tbody class="tData">

                            </tbody>
                        </table>
                        <ul>
                            <li class="totalPrice">

                            </li>
                            <li>
                                <a th:href="@{/shop/cartList}" class="cartListDetailBtn">장바구니 자세히 보기</a>
                            </li>
                        </ul>

                    </div>
                    <div class="cartListBtn">
                        <a id="memberCartListBtn" href="#">
                            <!--                           th:href="@{/member/memberCartList/{id}(id=${memberDto.id})} ">-->
                            <img th:src="@{/images/cart.png}" alt="대체이미지">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/fragments/common/footer :: footerFragment}"></div>
</body>
</html>