<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footerFragment">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script th:src="@{/js/chatBot.js}" defer></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/chatBot/chatBot.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <div class="pop-con">
        <a th:href="@{/shop/shopList}">수강신청<br>바로가기</a>
    </div>
    <div id="chat-bot">
        <div class="wrap">
            <button class="none" type="button" id="btn-chat-open"  onclick="openChat()">
                <img th:src="@{/images/bot.png}" alt="버튼" >
            </button>
            <dl id="chat-disp">
                <dt id="chat-header">
                    <span>챗봇_Sample</span>
                    <span class="btn-wrap">
				                <button type="button" id="btn-chat-close" onclick="disconnect()">X</button>
			              </span>
                </dt>

                <dd id="chat-content">

                </dd>

                <dd id="chat-question" class="flex between">
                    <span class="flex column center"><i></i></span>
                    <input type="text" id="question"  placeholder="질문을 입력하세요">
                    <button type="button" id="btn-msg-send" onclick="msgSendClickFn()">전송</button>
                </dd>
            </dl>
        </div>
    </div>

    <div class="footer">
        <div class="footer-con">
        <span>(주)E1I4</span> <span> ㅣ </span>
        <span>대표:박준우</span> <span> ㅣ </span>
        <span>사업자 등록번호: 000-00-0000000</span> <span> ㅣ </span>
          <p>주소:서울특별시 노원구 그린아카데미</p>
            <p>E1I4</p>
            <img th:src="@{/images/instagram.png}" alt="" class="circle">
            <img th:src="@{/images/kakao-talk.png}" alt="" class="circle">
            <img th:src="@{/images/facebook.png}" alt="" class="circle">
            <img th:src="@{/images/youtube.png}" alt="" class="circle">
            <img th:src="@{/images/twitter.png}" alt="" class="circle">
            <img th:src="@{/images/apple-logo.png}" alt="" class="circle">

        </div>
    </div>
</div>
</html>