<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="left" th:fragment="leftFragment">
    <div class="menu">
<!--        <label>-->
    <label>메뉴</label>
    

<!--            <ul>-->
                <li>
                    <img th:src="@{/images/sidecommunity.png}" alt="icon"><a th:href="@{/board/boardList}">커뮤니티</a>
                </li> <!--방법1-->

             <!--   <a th:href="@{/board/boardList}">
                    <img th:src="@{/images/sidecommunity.png}" alt="icon">
                    커뮤니티
                </a>&lt;!&ndash;방법2&ndash;&gt;
-->
                <li>
                    <img th:src="@{/images/sidenotice.png}" alt="icon"><a th:href="@{/board/noticeBoardList}">공지사항</a>
                </li>

                <li>
                    <img th:src="@{/images/sidereview.png}" alt="icon"><a th:href="@{/board/reviewBoardList}">수강후기</a>

                    <ul class="submenu">
                        <li>
                            <img th:src="@{/images/sideart.png}" alt="icon"><a
                                th:href="@{/board/reviewBoardList4}">미술</a>
                        </li>
                        <li>
                        <img th:src="@{/images/sidesport.png}" alt="icon"><a th:href="@{/board/reviewBoardList5}">체육</a>
                        </li>
                        <li>
                            <img th:src="@{/images/sidemusic.png}" alt="icon"><a
                                th:href="@{/board/reviewBoardList6}">음악</a>
                        </li>
                        <li>
                            <img th:src="@{/images/sidecook.png}" alt="icon"><a
                                th:href="@{/board/reviewBoardList7}">요리</a>
                        </li>
                    </ul>
                </li>
<!--            </ul>-->
<!--        </label>-->
    </div>
</div>

</html>