.footer {
    /* background-color: pink; */
    background: linear-gradient(to left, #fa922b, #ff8e8e);
    width: 100%; /* 전체 너비로 설정 */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; /* 세로 중앙 정렬 */
}

.footer img.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 7px;
    margin-right: 20px; /* 이미지 사이의 간격 조정 */
}

.footer-con {
    max-width: 1200px; /* 최대 너비 설정 */
    width: 80%; /* 너비를 일정한 비율로 설정 */
    text-align: center; /* 내용 가운데 정렬 */
}

.footer-con span {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.footer-con p {
    margin-top: 5px;
    color: rgb(255, 255, 255);
}

.footer-con img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px; /* 아이콘 간격 조정 */
}

/*chatBot*/
.chat{
    width:100%;
    height:auto
}

#chat-bot {
    height: 100vh;
    position: fixed;
    right: 0;
    top: 300px;
    z-index: 10;
    padding: 20px;
}

#chat-bot>.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size:14px;
    /* background-color: #e9e9e9; */
    border-radius: 10px;

}
#chat-bot>.wrap button.none{
    background: transparent;
    border: none;
}

#chat-bot>.wrap img{
    padding: 20px;
    width: 100px;
    background-color: #22222200;
}
#btn-chat-open{
   /* position: fixed;
    top:0;
    z-index: 1000;*/
}
#chat-bot>.wrap>#chat-disp{
    display: none;
    width: 400px;
    height: auto;
    border-radius: 10px;
   background-color:#ffffff;
}
#chat-content{
    padding: 15px;
    line-height: 1.8em;
    overflow-y: auto;
    max-height: 500px;
    justify-content: right;
    font-size: 15px;
}
#chat-header{
    position:relative;
    text-align: center;
    background-color: #407cf9;
    color: #fff;
    height: 60px;
    line-height: 60px;
    border-radius: 10px 10px 0 0;
}
#chat-header .btn-wrap{
    position: absolute;
    display:block;
    width: 30px;
    height: 30px;
    top:15px;
    right:15px;
    line-height: 30px;
}
#chat-header .btn-wrap button{
    width: 100%;
    height: 100%;
}
/* #chat-disp{
    position: relative;
    border-radius: 10px;
    background-color: #e5e5e5;
} */
#chat-disp .msg{
    margin-bottom: 15px;
}
#chat-disp .msg .icon img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
#chat-disp .date,
#chat-disp .time{
    margin-bottom: 5px;
    color: #777;
    font-size: 12px;
}
#chat-disp .part{
    background-color: #fff;
    color: #222;
    max-width:270px;
    padding: 6px 20px 6px 10px;
    text-align: left;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}
#chat-disp .menu .menu-item{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color:  rgb(0 255 255 / 5%);
    border: 1px solid #e5e5e5;
}
#chat-question{
    /* position: absolute; */
    bottom: 0;
    /* width: 100%; */
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 16px;
    height: auto;
    background-color: #fff;
}
#chat-question #question{
    border: none;
    background-color: #e9e9e9;
    border-radius: 18px;
    height: 36px;
    vertical-align: middle;
    width: calc(100% - 80px);
    padding: 0 1em;
    font-size: 15px;
}
#chat-question span{
    width: 40px;
    height: 100%;
}
#chat-question span i{
    display: block;
    margin-top:-2px;
    width: 30px;
    height: 30px;
    background-image: url("/images/chat.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#chat-question button{
    width: 40px;
    background-color: #e4bb60db;
        border: 0;
    color:#ffffff;
    cursor: pointer;
    border-radius: 10px;
}

/*pop-con*/
.pop-con {
  background: url(/images/pop.jpg);
  width: 100px;
  height: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
  border-radius: 10px; /* 둥근 테두리 추가 */
  position: fixed;
  right: 0px;
  top: 40%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 텍스트 스타일링 */
.pop-con p {
  color: #333; /* 텍스트 색상 */
  font-size: 18px; /* 폰트 크기 */
}