.footer {
    background-color: pink;
    width: 100%; /* 전체 너비로 설정 */
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center; /* 세로 중앙 정렬 */
}

.footer img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 7px;
    margin-right: 20px; /* 이미지 사이의 간격 조정 */
}

.footer-con {
    max-width: 1200px; /* 최대 너비 설정 */
    width: 80%; /* 너비를 일정한 비율로 설정 */
    text-align: center; /* 내용 가운데 정렬 */
}

.footer-con span {
    font-size: 20px;
    color: white;
}

.footer-con p {
    margin-top: 5px;
    color: white;
}

.footer-con img {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-right: 10px; /* 아이콘 간격 조정 */
}