.paging {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  background-color: #ebf9f8;
  display: flex;
  justify-content: center;
}

.paging>ul {
  flex-basis: 400px;
  /* background-color: #cee76b; */
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.paging>ul>li {
  /* flex:1;*/
  /* background-color: #58cc00; */

}

.paging>ul>li.block {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.paging>ul>li.block a {
  /* color: #ffffff; */
  font-weight: bold;
  /* background-color: #000000; */
  padding: 0 10px;
  display: block;
}

.paging>ul>li span {


  font-size: 12px;
}

.paging>ul>li a {

  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.paging>ul>li span.span0 {
  /* background-color: #000000; */
  /* color: #cccccc; */
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 20px
}

.paging>ul>li span a.span1 {
  padding: 2px 10px;
  /* background-color: #ff0000; */
  /* color: #ffffff; */
  color: #ff0000;
  font-size: 20px
}

span.now {

  font-weight: bold;
  border-radius: 10px;
  text-decoration: underline;

  padding: 0 10px;
  position: relative;
  cursor: pointer;
}