.menu {
  display: block;
  width: 250px;
  background-color: #ffffff;
  color: #000000;
  /* border-radius: 20px; */
  padding: 10px;
  padding-top : 80px;
  box-sizing: border-box;
  box-shadow: 5px 0px 5px rgb(68 67 67 / 34%);
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*  */
.menu ul li {
  display: flex; /* 아이콘과 텍스트를 가로로 나열 */
  align-items: center; /* 세로 가운데 정렬 */
  margin-bottom: 10px; /* 각 아이템 사이의 간격 설정 */
  font-size: 20px;
}

.menu a, .menu > label {
  padding: 8px;
  color: #000000;
  font-size: 20px;

}

.menu ul li a{
  display: block;
  line-height: 60px;
}

.menu ul li a.under{
  border-bottom: 1px solid black;
}

.menu ul li img{
  width: 30px;
  height: 30px;
  padding: 15px 10px;

}
.menu a:hover {
  opacity: 1;
  transition : 1s;
  border-bottom: 1px solid black;
}

.menu ul li img{
  width: 30px;
  height: 30px;
  padding: 15px 10px;

}
.menu a:hover {
  color: #000;
}
.menu ul li:hover{
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}