<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>index</title>
    <script th:src="@{/js/index.js}" defer></script>
    <script th:src="@{/js/AutoGallery.js}" defer></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script th:src="@{/js/chatBot.js}" defer></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/chatBot/chatBot.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">-->

</head>
<body>
<div th:replace="~{/fragments/common/header :: headerFragment}"></div>

<div class="container">
    <div class="index">
        <div class="index-con">
            <div class="sections">
                <div class="section sec1">
                    <div class="con">

                    </div>
                </div>
                <h2>환 영 합 니 다.</h2>
                <div class="section sec2">
                    <div class="con">
                        <div class="left-con">

                        </div>
                        <div class="right-con">
                            <div class="autoGallery">
                                <ul>
                                    <li class="fadeIn"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <!--  <div class="center-arrow">
                                  <span class="arrow arrowLeft"></span>
                                  <span class="arrow arrowRight"></span>
                              </div>-->
                            <div class="items">
                                <ul>
                                    <li class="liOn"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <!--<div class="right-con">right</div>-->
                    </div>
                </div>
                <div class="section sec3">
                    <div class="con">
                        <div class="title">
                            <span class="left"><img th:src="@{/images/right.svg}" alt=""></span>

                            <span class="right"><img th:src="@{/images/free-icon-list-button-61438.png}" alt=""></span>
                        </div>
                        <div class="bottom-con">
                            <div class="left-con">
                            <div class="con1 span-on">
                                <div class="sub-con">SUB</div>
                                <div class="sub-con">SUB</div>
                                <div class="sub-con">SUB</div>
                                <div class="sub-con">SUB</div>
                                <div class="sub-con">SUB</div>
                                <div class="sub-con">SUB</div>
                                <div class="sub-con">SUB</div>
                                <div class="sub-con">SUB</div>
                            </div>
                            <div class="con2 span-off">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>종류</th>
                                        <th>제목</th>
                                        <th>내용</th>
                                        <th>작성자</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <h1>수 강 후 기</h1>
                                    <tr th:each="review:${boardDtoList}">
                                        <td th:if="${review.category eq 4}" th:text="미술"></td>
                                        <td th:if="${review.category eq 5}" th:text="체육"></td>
                                        <td th:if="${review.category eq 6}" th:text="음악"></td>
                                        <td th:if="${review.category eq 7}" th:text="요리"></td>
                                        <td th:text="${review.boardTitle}"></td>
                                        <td th:text="${review.boardContent}"></td>
                                        <td th:text="${review.boardWriter}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--  </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="~{/fragments/common/footer :: footerFragment}"></div>
</body>
</html>