<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>index</title>
    <script th:src="@{/js/index.js}" defer></script>
    <script th:src="@{/js/AutoGallery.js}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/js/chatBot.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/chatBot/chatBot.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>
<div th:replace="~{/fragments/common/header :: headerFragment}"></div>

<div class="container">
    <div class="index">
        <div class="index-con">
            <div class="sections">
                <div class="section sec1">
                    <div class="con">

                    </div>
                </div>
                <div class="section sec2">
                    <div class="con">
                        <div class="left-con">
                            left
                        </div>
                        <div class="right-con">
                            <div class="autoGallery">
                                <ul>
                                    <li class="fadeIn"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="center-arrow">
                                <span class="arrow arrowLeft"></span>
                                <span class="arrow arrowRight"></span>
                            </div>
                            <div class="items">
                                <ul>
                                    <li class="liOn"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <!--<div class="right-con">right</div>-->
                    </div>
                </div>
                <div class="section sec3">
                    <div class="con">
                        <div class="title">
                            <span class="left"><img th:src="@{/images/left.svg}" alt=""></span>
                            <span class="right"><img th:src="@{/images/right.svg}" alt=""></span>
                        </div>
                        <div class="bottom-con">
                            <div class="left-con">
                                <div class="con1 on">
                                    <!--                                    <div class="con1-left">-->
                                    <!--                                            <label th:text="${boardDtoList.boardTitle}"></label>-->
                                    <!--                                            <label th:text="${boardDtoList.boardContent}"></label>-->
                                    <!--                                            <label th:text="${boardDtoList.newFileName}"></label>-->
                                    <!--                                    </div>-->

                                </div>

                                <div class="con2 off">con2</div>
                            </div>
                            <!-- <div class="center-con">center</div>-->
                            <!--<div class="right-con">right</div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{/fragments/common/footer :: footerFragment}"></div>

</body>
</html>