<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>index</title>
    <script th:src="@{/js/index.js}" defer></script>
    <script th:src="@{/js/AutoGallery.js}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
    <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
    <script th:src="@{/js/chatBot.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/chatBot/chatBot.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">

</head>
<body>
<div th:replace="~{/fragments/common/header :: headerFragment}"></div>

<div class="container">
    <div class="index">
        <div class="index-con">
            <div class="sections">
                <div class="section sec1">
                    <div class="con">

                    </div>
                </div>
                <div class="section sec2">
                    <div class="con">
                        <div class="left-con">
                            left
                        </div>
                        <div class="right-con">
                            <div class="autoGallery">
                                <ul>
                                    <li class="fadeIn"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="center-arrow">
                                <span class="arrow arrowLeft"></span>
                                <span class="arrow arrowRight"></span>
                            </div>
                            <div class="items">
                                <ul>
                                    <li class="liOn"></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <!--<div class="right-con">right</div>-->
                    </div>
                </div>
                <div class="section sec3">
                    <div class="con">
                        <div class="title">
                            <span class="left"><img th:src="@{/images/left.svg}" alt=""></span>
                            <span class="right"><img th:src="@{/images/right.svg}" alt=""></span>
                        </div>

                        <div class="bottom">
                            <div class="bottom-wrapper">
                                <div class="bottom-wrapper-list">
                                    <div class="bottom-wrapper-list-products">
                                        <div class="bottom-wrapper-list-products-items">
                                            <!-- 원본 항목 템플릿 -->
                                            <div class="item"><a th:href="@{/#}"><img th:src="@{/images/auto1.jpg}" alt="item"></a></div>
                                            <div class="item"><a th:href="@{/#}"><img th:src="@{/images/logo.png}" alt="item"></a></div>
                                            <div class="item"><a th:href="@{/#}"><img th:src="@{/images/logo.png}" alt="item"></a></div>
                                            <div class="item"><a th:href="@{/#}"><img th:src="@{/images/logo.png}" alt="item"></a></div>
                                            <div class="item"><a th:href="@{/#}"><img th:src="@{/images/logo.png}" alt="item"></a></div>
                                        </div>
                                        <!-- 항목을 복제하기 위한 JavaScript -->
                                        <script>
                                            // 아이템 요소를 복제하여 추가합니다.
                                            const itemsContainer = document.querySelector('.bottom-wrapper-list-products-items');
                                            const itemTemplates = itemsContainer.querySelectorAll('.item');
                                            for (let j = 0; j < 1000; j++) { // 각 항목을 다섯 번씩 반복
                                                itemTemplates.forEach(itemTemplate => {
                                                    const newItem = itemTemplate.cloneNode(true);
                                                    itemsContainer.appendChild(newItem);
                                                });
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{/fragments/common/footer :: footerFragment}"></div>

</body>
</html>