@import url(/css/common/reset.css);
@import url(/css/common/footer.css);
@import url(/css/common/header.css);
@import url(/css/common/sideBar.css);

.container {
width: 100%;
display: flex;
justify-content: center;
}

.container .container-box{
  width: 1300px;
  display: flex;
  padding: 50px;
  box-sizing: border-box;
}

.container .container-box h1{
  text-align: center;
  background-color: rgb(250 184 119);
  color: white;
  padding: 10px;
}
.container-box .sellerList .sellerList-con .grid{
  width: 100%;
  border:1px solid #cccccc;
  padding:10px;
  box-sizing:border-box;
}

.container-box .sellerList .sellerList-con .grid ul{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,500px);
  grid-auto-rows: 500px; 
}

.grid .top img {
  width: 300px; 
  height: 400px; 
  object-fit: cover; 
  transition: transform 0.5s ease;
}

.grid .top:hover img {
  transform: scale(1.1);
}


.container-box .sellerList .sellerList-con .grid .bottom ul{
  display: block;
  background-color: #f8f8f8; 
  font-size: 15px;
  line-height: 40px;
  text-align: center;
}

.container-box .sellerList .sellerList-con .grid .bottom ul li{

} 