@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);

.error {
    color: red;
    border: 1px solid red;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container .detail {
    /* width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0; */
    width: 1300px;
    display: flex;
    padding: 50px;
    box-sizing: border-box;
    justify-content: center;
    height: 1000px;
}

.container .detail .detail-con {
    /*width: 500px;*/
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .detail .detail-con .detail-form {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.container .detail .detail-con .detail-form h1.title{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #222 ;
    font-size: 30px;
    font-family: "나눔고딕 ExtraBold";
}

.detail .detail-con .detail-form form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/*.container .detail .detail-con .detail-form form .left {*/
/*    flex: 4;*/
/*}*/
.container .detail .detail-con .detail-form .left .left-con{
    flex: 4;
    border-right: 1px solid #333333;
    padding-right: 20px;
}

.container .detail .detail-con .detail-form .left .left-con img{
    width: 450px;
    height: 500px;
}

.container .detail .detail-con .detail-form form .right {
    flex: 6;
}

.container .detail .detail-con .detail-form .left .left-con>h2{
    text-align: center;
    margin-bottom: 20px;
}

.container .detail .detail-con .detail-form .left .left-con img {
    width: 450px;
    height: 500px;
    object-fit: cover;
}

.container .detail .detail-con .detail-form .right ul li {
    display: flex;
    justify-content: space-between;
    /*gap: 5px;*/
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
}

.container .detail .detail-con .detail-form form .right ul li label {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
}
.container .detail .detail-con .detail-form form .right ul li.file{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}

.container .detail .detail-con .detail-form form .right ul li input {
    flex: 4;
    padding: 15px;
    border : 1px solid #ccc;
    border-radius: 5px 5px;
    box-sizing: border-box;
}

.container .detail .detail-con .detail-form form .right ul li input[type=file]{
    border: 0;
}

.container .detail .detail-con .detail-form form .right ul li a{
    flex: 1;
    background-color: white;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 0;
    border: 1px solid #222;
    border-radius: 5px 5px;
}

.container .detail .detail-con .detail-form form .right ul li:last-child input{
    flex: 1;
    background-color: white;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 0;
    border: 1px solid #222;
    border-radius: 5px 5px;
}

.container .detail .detail-con .detail-form form .right ul li.li2 {
    color: white;
    padding: 5px 0;
    cursor: pointer;
    border: 0;
    gap: 5px;
}

table{
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
   background-color: #f9f9f9;
}

th,td{
  /* border: 1px solid #cccccc; */
    border-bottom: 1px solid #000000ad;
}
table th{
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px;

}

table td{
  text-align: center;
  padding: 5px;
}
table td.long{
 white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 함 */
      overflow: hidden; /* 요소의 내용이 넘칠 때 숨김 */
      text-overflow: ellipsis; /* 넘치는 텍스트에 말줄임표(...) 추가 */
      max-width: 200px; /* 요소의 최대 너비 지정 */
}

/* 사이드바css */
.menu {
  display: block;
  width: 250px;
  background-color: #ffffff;
  color: #000000;
  /* border-radius: 20px; */
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 5px 20px 5px rgb(68 67 67 / 34%);
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.menu ul li {
  display: flex; /* 아이콘과 텍스트를 가로로 나열 */
  align-items: center; /* 세로 가운데 정렬 */
  margin-bottom: 10px; /* 각 아이템 사이의 간격 설정 */
  font-size: 20px;
}

.menu a, .menu > label {
  padding: 8px;
  color: #000000;
  font-size: 20px;

}

.menu ul li a{
  display: block;
  line-height: 60px;
}

.menu ul li a.under{
  border-bottom: 1px solid black;
}

.menu ul li img{
  width: 30px;
  height: 30px;
  padding: 15px 10px;

}
.menu a:hover {
  opacity: 1;
  transition : 1s;
  border-bottom: 1px solid black;
}

.menu ul li img{
  width: 30px;
  height: 30px;
  padding: 15px 10px;

}
.menu a:hover {
  color: #000;
}
.menu ul li:hover{
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}