/*header/css*/
.header{
  width: 100%;
  display: flex;
  justify-content: center;
}
.header .header-con{
  width: 1600px;
  /*border: 1px solid;*/
  /*box-sizing: border-box;*/
}
.header .header-con .top-header{
 /*box-sizing: border-box;*/
}
.header .header-con .top-header .top-menu{
  display: flex;
  justify-content: flex-end;
 /* border: 1px solid;*/
  /*box-sizing: border-box;*/
}

.header .header-con .top-header .top-menu .right-menu{
  /*border: 1px solid;*/
  /*box-sizing: border-box;*/
}

.header .header-con .top-header .top-menu .right-menu ul{
 /* border: 1px solid;*/
  /*box-sizing: border-box;*/
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header .header-con .top-header .bottom-menu{
  display: flex;
  justify-content: flex-start;
  gap: 490px;
  
}

.header .header-con .top-header .bottom-menu h1.left{
  width: 250px;
  height: 60px;
  border: 1px solid;
  box-sizing: border-box;
  
}



 
.header .header-con .top-header .bottom-menu h1.logo {
  width: 140px;
  height: 80px;
  /*border: 1px solid;*/
  /*box-sizing: border-box;*/
  margin-right: 760px; 
  margin-left: auto; 
  text-align: center;
  
}

.header .header-con .top-header .bottom-menu h1.logo img{
  width: 100%;
  display: block;
}

.header .header-con .bottom-header{

  height: 100px;
  border: 1px solid;
  box-sizing: border-box;
  background: url(/images/sec1_bg1.jpg) no-repeat 50%/cover;

  filter: grayscale(50%);
}

.header .header-con .bottom-header{
  border: 1px solid;
  box-sizing: border-box;
  height: 200px;
}

.header .header-con .bottom-header .pre-gnb{
  border: 1px solid;
  box-sizing: border-box;
  height: 200px;
}

.header .header-con .bottom-header .pre-gnb>ul{
  border: 1px solid;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  gap: 5px;

}

.header .header-con .bottom-header .pre-gnb>ul>li{
  border: 1px solid;
  box-sizing: border-box;
  flex:1;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  color: #ffff;
  font-weight: bold;
  height: 200px;
  
}
.header .header-con .bottom-header .pre-gnb>ul>li>a{
  color:inherit;  
}
.header .header-con .bottom-header .gnb{
  border: 1px solid;
  box-sizing: border-box;
  height: 200px;
}
.header .header-con .bottom-header .gnb>ul{
  border: 1px solid;
  box-sizing: border-box;
  
  display: flex;
  justify-content: space-between;
  gap:5px;
}
.header .header-con .bottom-header .gnb>ul>li{
  border: 1px solid #ffff00;
  box-sizing: border-box;
  flex:1;
  text-align: center;
  line-height: 20px;
}
.header .header-con .bottom-header .gnb>ul>li>a{
  display: block;
  height: auto;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: blueviolet;
  color: #ffffff;
}


.header .header-con .bottom-header .gnb>ul>li> ul.sub{
  height: auto;
  line-height: 20px;
  font-size: 12px;
  background-color: blueviolet;
  color: #ffff;
  transition: all 0.3s;

}
.header .header-con .bottom-header .gnb>ul>li:hover ul.sub{
  height: 150px;
}
.header .header-con .bottom-header .gnb>ul>li ul.sub li{
  line-height: 30px;
  font-size: 12px;
  color: #ffffff;
}
.header .header-con .bottom-header .gnb>ul>li ul.sub li a{
  color: inherit;

}
.off{
  display: none !important;
}
.on{
  display: block !important;
}
