@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);

/* boardDetailContainer */
.container{

width: 100%;
height: auto;
display: flex;
padding:30px 0;
box-sizing:border-box;
justify-content: center;
overflow:scroll;
}

.container .boardDetail{

display: flex;
box-sizing: border-box;
background-color: rgb(255 251 247);
/*justify-content: center;*/


}

.container .boardDetail .boardDetail-con{
width: 100%;
/* border: 1px solid; */
padding: 20px;
box-sizing: border-box;

display: flex;
flex-direction: column;
justify-content:flex-start;
gap: 10px ;
 padding-top : 50px;
 padding-left: 20px;

}

.container .boardDetail .boardDetail-con .top{
width:100%;
height: auto;
}

.container .boardDetail .boardDetail-con .boardDetail-form{
width: 100%;
/* background-color: #e0e7a4; */
padding: 20px;
box-sizing: border-box;
}

/* 얘가 left 랑 아닌거랑 space-between 걸기 */
.container .boardDetail .boardDetail-con .boardDetail-form form{
display: flex;
justify-content: space-between;
gap: 10px;
background-color:  rgb(255 251 247);
border-radius: 15px;
padding: 10px;
}
.container .boardDetail .boardDetail-con .boardDetail-form form .left{
width:50%;
}
.container .boardDetail .boardDetail-con .boardDetail-form form .left img{
width:600px;
height:450px
}


.container .boardDetail .boardDetail-con h1{
text-align: center;
padding: 10px;
box-sizing: border-box;
font-size: 20px;

}

.container .boardDetail .boardDetail-con h1 a{
color:red;
}


.container .boardDetail .boardDetail-con ul{
display: flex;
flex-direction: column;
 width: 290px;
gap: 5px;

}

.container .boardDetail .boardDetail-con ul li{
display: flex;
justify-content: space-between;
gap: 5px;
/*border: 1px solid #cccccc;*/
box-sizing: border-box;
}

.container .boardDetail .boardDetail-con ul li label{
flex:1;
background-color: rgb(250 184 119);
color: black;
padding: 5px;
box-sizing: border-box;
}

.container .boardDetail .boardDetail-con ul li input{
flex: 3;
padding: 5px;
box-sizing: border-box;
}

.container .boardDetail .boardDetail-con ul li textarea{
width: 100%;
resize: none;
}

.container .boardDetail .boardDetail-con ul li:last-child input{

background-color: rgb(224, 166, 166);
color: #ffffff;
padding: 5px 0;
cursor: pointer;
border: 0;
}

.container .boardDetail .boardDetail-con ul li:last-child input:hover{
background-color: blanchedalmond;
color: black;
}

.container .boardDetail .boardDetail-con ul li a{
 padding: 5px;
    box-sizing: border-box;
    background-color:  rgb(250 184 119);
     border: 1px solid #ccc;
               border-radius: 7px 7px;
}

/* bottom 댓글 */
.container .boardDetail .boardDetail-con .bottom{
width: 100%;
height: auto;
/* background-color: rgb(113, 171, 238); */
padding: 20px 0;
/* gap: 20px; */
}
.container .boardDetail .boardDetail-con .bottom .reply{
padding: 20px;
box-sizing: border-box;
/* background-color: #e7a4a4; */

}

.container .boardDetail .boardDetail-con .bottom .reply .reply-con{
border: 1px solid;
box-sizing: border-box;
border-radius: 15px;
padding: 20px;
text-align:center;
background-color: rgb(250 184 119);

display: flex;
flex-direction: column;
gap: 5px;
}
.container .boardDetail .boardDetail-con .bottom .reply .reply-con h1{
background-color : #ffd2a6;
}

.container .boardDetail .boardDetail-con .bottom .reply .reply-con form{
display: flex;
justify-content: space-between; /*가로 정렬*/
gap: 5px;

box-sizing: border-box;
}

.container .boardDetail .boardDetail-con .bottom .reply .reply-con form input{
flex: 1;
padding: 5px 0;
line-height: 20px;
text-align: center;
text-indent: 5px;
}

.container .boardDetail .boardDetail-con .bottom .reply .reply-con form input.writer{
width:150px;
}

