@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);


.container {
 width: 100%;
     height: auto;
     display: flex;
     justify-content: space-between;

  }

 .left{
  width: 250px;
 height:100vh;
 background-color: #ffffff;
 color: #000000;
 }

 .menu {
    width: 250px;
   overflow: hidden;
   padding: 10px;
   padding-top: 80px;
   box-sizing: border-box;
   box-shadow: 5px 20px 5px rgb(68 67 67 / 34%);
   /*position: fixed;*/
   /* margin: 150px auto; */
 }


 .menu li {
   width: 100%;
   text-align: center;
   line-height: 50px;
   background-color: #ffffff;
   color: #000000;
 }

 .menu li img{
  width: 30px;
  height: 30px;
  padding: 15px 10px;
}

 .menu a, .menu > label {
  padding: 8px;
  color: #000000;
  font-size: 20px;

}

.menu a:hover {
  opacity: 1;
  transition : 1s;
  border-bottom: 1px solid black;
}

.submenu {
  height: 0; /* submenu가 안보이게 하기 위해 */
  overflow: hidden;
}
.submenu > li {
  /* line-height: 50px; */
  background-color: #8d8c8c;

}

/*.menu > li:hover {
  *//* menu부터 submenu01~5높이 생각해서 설정 *//*
  height: 300px;
  transition-duration: 0.5s;
}*/

.menu > li:hover .submenu {
  height: 350px; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;
}




/*main main main main main main main main main main */


.right {
      flex: 1;
  }

  .main-content {
      padding: 20px;
  }


.boardList {

width: 100%;

 /* border: 1px solid; */

 box-sizing: border-box;

display: flex;

justify-content: center;

}

.boardList .boardList-con {

flex-basis: 1400px;

/*  min-height: calc(100vh - 70px - 150px);*/

height: calc(100vh - 70px - 150px);

/* overflow: scroll; */

/* border: 1px solid; */

  box-sizing: border-box;

}

.boardList .boardList-con h1{

 background-color: black;

color: aliceblue;

text-align: center;

 padding: 10px;

 box-sizing: border-box;

}

.boardList .boardList-con .search{

 background-color: #ffffff;

 display: flex;

 justify-content: flex-end;

 padding: 10px;

 box-sizing: border-box;

}

.boardList .boardList-con table{

 width: 100%;

}

th,td{

border: 1px solid #cccccc;

}

.boardList .boardList-con table th{

 background-color: #b43aae;

 color: white;

padding: 5px;

box-sizing: border-box;

}

.boardList .boardList-con table tbody td{

 background-color: antiquewhite;

color: black;

  padding: 2px;

 box-sizing: border-box;

 text-align: center;

}
/* ////////////////페이징////////////////////// */
.paging{
  padding:10px 0;
  box-sizing:border-box;
     background-color:#ebf9f8;
          display:flex;
          justify-content:center;
}
.paging > ul{
/*  flex-basis:600px;*/
  background-color:#cee76b;
           display:flex;
           justify-content:space-between;
           gap:5px;
           padding:5px;
           box-sizing:border-box;
}

.paging > ul> li{
 /* flex:1;*/
  background-color:#58cc00;

}
.paging > ul> li.block{
flex:1;
      display:flex;
               justify-content:center;
               gap:5px;
}
.paging > ul> li.block a{
   color:#ffffff;
   font-weight:bold;
   background-color:#000000;
   padding:0 10px;
  display:block;
}
.paging > ul> li span{
  font-size:12px;
}
.paging > ul> li a{

  border-radius:5px;
  font-size:12px;
  font-weight:bold;
}
.paging > ul> li span.span0{
  background-color:#000000;
  color:#cccccc;
   padding:2px 10px;
   border-radius:5px;
}

.paging > ul> li span a.span1{
  padding:2px 10px;
  background-color:#ff0000;
  color:#ffffff;
}
 span.now{
   color:#ffffff;
   font-weight:bold;
   border-radius:10px;
   background-color:#0000ff;
   padding:0 10px;
   position:relative;
   cursor:pointer;
 }


 /*   사이드바   */


