@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.boardWrite {
    width: 1600px;
    box-sizing: border-box;
    align-items:center;
    background-color:  rgb(255, 251, 247);
    
}



.boardWrite  .boardWrite-con  {
    width:100%;
    height:800px;
    background-color: rgb(255 251 247);
    flex-basis: 400px;
    padding: 20px;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;

}
.boardWrite   .boardWrite-form {
    width:100%;
    background-color: rgb(255, 255, 255);
    flex-basis: 400px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 7px 7px;
    display: flex;
    justify-content: center;

}



.boardWrite   .boardWrite-form ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.boardWrite   .boardWrite-form ul li {
     display: flex;
       justify-content: space-between;
       /*gap: 5px;*/
       /*border: 1px solid #ccc;*/
       box-sizing: border-box;
       float: right;
}
.boardWrite   .boardWrite-form ul li h1{
    text-align:center;
}

.boardWrite   .boardWrite-form ul li label {

        flex: 1;
            font-size: 20px;
            color: #666;
            font-family:"나눔고딕 ExtraBold";
            padding-top: 10px;
            box-sizing: border-box;
}

.boardWrite   .boardWrite-form ul li input{
   flex: 3;
       padding: 20px;
       border: 1px solid #ccc;
       border-radius: 7px 7px;
       box-sizing: border-box;
}

.boardWrite   .boardWrite-form ul li.file{
 display:flex;
 justify-content:space-between;
    align-items:center;
}

.boardWrite   .boardWrite-form ul li input[type=file]{
    border: 0;

}




.boardWrite   .boardWrite-form ul li select {
       width:600px;
       height:30px;
    text-align: center;
    border: 1px solid #ccc;
           border-radius: 7px 7px;
}


.boardWrite   .boardWrite-form ul li textarea {
  flex: 3;
       padding: 20px;
       border: 1px solid #ccc;
       border-radius: 7px 7px;
       box-sizing: border-box;
    resize: none;
}

.boardWrite   .boardWrite-form ul li input[type=submit] {

    padding: 5px;
    box-sizing: border-box;
    background-color:  rgb(250 184 119);
    color: #ffffff;
    cursor: pointer;
}
