@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);

.error {
    color: red;
    border: 1px solid red;
}

.container {
    width: 100%;
}

.container .join {
    width: 100%;
    height: calc(100vh - 300px - 266px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}

.container .join .join-con {
    width: 500px;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px #666666;
    gap: 10px;
}

/*.join .join-con h1.title {*/
/*    background-color: #555555;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 10px;*/
/*    box-sizing: border-box;*/
/*}*/

.container .join .joinLogin-con {
    font-size: 30px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.container .join .joinLogin-con h1.joinBtn {
    border-bottom: 1px solid black;
}

.container .join .joinLogin-con h1.loginBtn {
    border-bottom: 1px solid #ccc;
}

.container .join .memberSellerBtn {
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.container .join .memberSellerBtn button {
    border: 0;

    background-color: transparent;
    /*border-bottom: 1px solid black;*/

    cursor: pointer;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.container .join .memberSellerBtn .memberJoinBtn {
    flex: 1;
    border-bottom: 1px solid black;
}

.container .join .memberSellerBtn .sellerJoinBtn {
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.container .join .memberJoin-con > h2 {
    text-align: center;
    background-color: #666666;
    color: white;
    padding: 10px;
    border: 1px solid black;
}

.container .join .memberJoin-con ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container .join .memberJoin-con ul li {
    display: flex;
    justify-content: space-between;
    /*gap: 5px;*/
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
}

.container .join .memberJoin-con ul li label {
    flex: 3;
    background-color: #666666;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}


.container .join .memberJoin-con ul li input {
    flex: 9;
    padding: 5px;
    box-sizing: border-box;
}

.container .join .memberJoin-con ul li.li2 {
    color: white;
    padding: 5px 0;
    cursor: pointer;
    border: 0;
    gap: 5px;
}

.container .join .memberJoin-con ul li input.phone1{
    flex: 1;
}

.container .join .memberJoin-con ul li input.phone2{
    flex: 6;
}


/*seller*/
.container .join .sellerJoin-con {
    display: none;
}

.container .join .sellerJoin-con ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container .join .sellerJoin-con > h2 {
    text-align: center;
    background-color: #666666;
    color: white;
    padding: 10px;
    border: 1px solid black;
}

.container .join .sellerJoin-con ul li {
    display: flex;
    justify-content: space-between;
    /*gap: 5px;*/
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
}

.container .join .sellerJoin-con ul li label {
    flex: 1;
    background-color: #666666;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.container .join .sellerJoin-con ul li input {
    flex: 3;
    padding: 5px;
    box-sizing: border-box;
}

.container .join .sellerJoin-con ul li.li2 {
    color: white;
    padding: 5px 0;
    cursor: pointer;
    border: 0;
    gap: 5px;
}