@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);

.error {
    color: red;
}

.container {
    width: 100%;
    height : auto;
    display: flex;
    justify-content: center;
}

.container .join {
    width: 700px;
    height: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 70px;
    /*background-color: #eeeeee;*/
}

.container .join>h2{
    color: #666666;
    margin-top: 20px;
}

.container .join .memberJoin-con {
    width: 500px;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    /*box-shadow: 5px 5px #666666;*/
    gap: 10px;
}

.container .join .joinLogin-con {
        width: 480px;
        font-size: 18px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /*margin-bottom: 40px;*/
}

.container .join .joinLogin-con h1.joinBtn {
    flex: 1;
    border-bottom: 1px solid black;
    padding: 20px;
}

.container .join .joinLogin-con h1.loginBtn {
    flex: 1;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}
.container .join .joinLogin-con h1.loginBtn:hover{
    opacity: 1;
    transition : 1s;
    border-bottom: 1px solid black;
}

.container .join .memberSellerBtn {
    width: 480px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.container .join .memberSellerBtn button {
    border: 0;

    background-color: transparent;
    /*border-bottom: 1px solid black;*/

    cursor: pointer;
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.container .join .memberSellerBtn .memberJoinBtn {
    flex: 1;
    border: 1px solid blue;
    border-radius: 5px 5px;
    color: blue;
}

.container .join .memberSellerBtn .sellerJoinBtn {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px 5px;
    color: #ccc;
}

.container .join .memberJoin-con ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container .join .memberJoin-con ul li {
    display: flex;
    justify-content: space-between;
    /*gap: 5px;*/
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
}
.container .join .memberJoin-con ul li .memberShowPw{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 10px;
}

.container .join .memberJoin-con ul li label {
    flex: 1;
    /*background-color: #666666;*/
    /*color: white;*/
    color: #666;
    padding-top: 10px;
    font-size: 20px;
    font-family:"나눔고딕 ExtraBold";
    box-sizing: border-box;
    /*text-align: center;*/
}

.container .join .memberJoin-con ul li.file label{
    padding: 0;
}

.container .join .memberJoin-con ul li span.imp{
    margin-left: 4px;
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px
}

.container .join .memberJoin-con ul li input {
    flex: 3;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px 7px;
    box-sizing: border-box;
}

.container .join .memberJoin-con ul li.file{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .join .memberJoin-con ul li input[type=file]{
    border: 0;
}

.container .join .memberJoin-con ul li.li2 {
    border: 0;
    border-top: 1px solid black;
    color: white;
    cursor: pointer;
    gap: 5px;
}
.container .join .memberJoin-con ul li input[type=submit]{
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 0;
}


/*seller*/
.container .join .sellerJoin-con {
    display: none;
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    /*box-shadow: 5px 5px #666666;*/
    gap: 10px;
}

.container .join .sellerJoin-con ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.container .join .sellerJoin-con ul li {
    display: flex;
    justify-content: space-between;
    /*gap: 5px;*/
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
}
.container .join .sellerJoin-con ul li .sellerShowPw{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-right: 10px;
}

.container .join .sellerJoin-con ul li span.imp{
    margin-left: 4px;
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px
}

.container .join .sellerJoin-con ul li label {
    flex: 1;
    font-size: 20px;
    color: #666;
    font-family:"나눔고딕 ExtraBold";
    padding-top: 10px;
    box-sizing: border-box;
}

.container .join .sellerJoin-con ul li input {
    flex: 3;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 7px 7px;
    box-sizing: border-box;
}
.container .join .sellerJoin-con ul li input[type=file]{
    border: 0;
}

.container .join .sellerJoin-con ul li.file{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .join .sellerJoin-con ul li.file label{
    padding: 0;
}

.container .join .sellerJoin-con ul li.li2 {
    border: 0;
    border-top: 1px solid black;
    color: white;
    cursor: pointer;

    gap: 5px;
}

.container .join .sellerJoin-con ul li input[type=submit]{
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 0;
}