@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);

.error {
    color: red;
    border: 1px solid red;
}

.container {
    width: 100%;
}

.container .detail {
    width: 100%;
    height: calc(100vh - 60px - 150px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container .detail .detail-con {
    /*width: 500px;*/
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    /*flex-direction: column;*/
    gap: 10px;
}

.container .detail .detail-con .detail-form {
    flex: 1;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.container .detail .detail-con .cartList .cartList-con .cartListBtn >a{

}
.container .detail .detail-con .cartList .cartList-con .cartListBtn >a >img{
    width: 30px;
    height: 30px;
    padding: 17px;
    border: 1px solid #333;
    border-radius: 30px;
    margin-top: 100px;
}
.container .detail .detail-con .cartList .cartList-con .cartListTable{
    padding: 20px;
}

.container .detail .detail-con .cartList .cartList-con .cartListTable img{
    width: 30px;
    height: 30px;
    float: right;
}
.container .detail .detail-con .cartList .cartList-con .cartListTable ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .detail .detail-con .cartList .cartList-con .cartListTable ul li.totalPrice{
    padding : 20px;
    font-size: 27px;
    color: #333333;
}

.container .detail .detail-con .cartList{
    flex: 1;
}

.container .detail .detail-con .cartList .cartList-con .cartListTable{
    display: none;
}

.container .detail .detail-con .cartList .cartList-con .cartListTable h2{
    text-align: center;
    font-family: "나눔고딕 ExtraBold";
    padding: 10px;
    font-size: 28px;
    border-bottom: 1px solid black;
}

.container .detail .detail-con .cartList .cartList-con .cartListTable table{
    width: 100%;
    height: auto;
}

.container .detail .detail-con .cartList .cartList-con .cartListTable table th{
    width: 150px;
    text-align: center;
    border-bottom: 2px solid #333333;
    font-size: 22px;
    padding: 10px;
}

.container .detail .detail-con .cartList .cartList-con .cartListTable table td{
    width: inherit;
    text-align: center;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}

.container .detail .detail-con .cartList .cartList-con .cartListTable .cartListDetailBtn{
    float: right;
    padding: 7px;
    border: 1px solid #333333;
    border-radius: 5px 5px;
}

.container .detail .detail-con .detail-form h1.title{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #222 ;
    font-size: 30px;
    font-family: "나눔고딕 ExtraBold";
}

.detail .detail-con .detail-form form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/*.container .detail .detail-con .detail-form form .left {*/
/*    flex: 4;*/
/*}*/
.container .detail .detail-con .detail-form .left .left-con{
    flex: 4;

}

.container .detail .detail-con .detail-form form .right {
    flex: 6;
    padding-left: 20px;
    border-left: 1px solid #333333;
}

.container .detail .detail-con .detail-form .left .left-con>h2{
    text-align: center;
    margin-bottom: 20px;
}

.container .detail .detail-con .detail-form .left .left-con img {
    width: 480px;
    height: 619px;
}

.container .detail .detail-con .detail-form .right ul li {
    display: flex;
    justify-content: space-between;
    /*gap: 5px;*/
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
}

.container .detail .detail-con .detail-form form .right ul li label {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
}
.container .detail .detail-con .detail-form form .right ul li.file{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}

.container .detail .detail-con .detail-form form .right ul li input {
    flex: 4;
    padding: 15px;
    border : 1px solid #ccc;
    border-radius: 5px 5px;
    box-sizing: border-box;
}

.container .detail .detail-con .detail-form form .right ul li input[type=file]{
    border: 0;
}

.container .detail .detail-con .detail-form form .right ul li a{
    flex: 1;
    background-color: white;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 0;
    border: 1px solid #222;
    border-radius: 5px 5px;
}

.container .detail .detail-con .detail-form form .right ul li:last-child input{
    flex: 1;
    background-color: white;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 0;
    border: 1px solid #222;
    border-radius: 5px 5px;
}

.container .detail .detail-con .detail-form form .right ul li.li2 {
    color: white;
    padding: 5px 0;
    cursor: pointer;
    border: 0;
    gap: 5px;
}