@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);

.error {
    color: red;
    border: 1px solid red;
}

.container {
    width: 100%;
}

.container .detail {
    width: 100%;
    height: calc(100vh - 60px - 150px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}

.container .detail .detail-con {
    /*width: 500px;*/
    border: 1px solid #fdc926;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px #666666;
    gap: 10px;
}

.container .detail .detail-con .detail-form {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.container .detail .detail-con .detail-form h1.title{
    text-align: center;
}

.detail .detail-con .detail-form form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.container .detail .detail-con .detail-form form .left {
    flex: 4;
}

.container .detail .detail-con .detail-form form .right {
    flex: 6;
}

.container .detail .detail-con .detail-form .left .left-con img {
    width: 600px;
    height: 583px;
}

.container .detail .detail-con .detail-form .right ul li {
    display: flex;
    justify-content: space-between;
    /*gap: 5px;*/
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
}

.container .detail .detail-con .detail-form form .right ul li label {
    flex: 1;
    background-color: #666;
    color: white;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.container .detail .detail-con .detail-form form .right ul li input {
    flex: 4;
    padding: 5px;
    box-sizing: border-box;
}

.container .detail .detail-con .detail-form form .right ul li a{
    flex: 1;
    text-align: center;
    background-color: #666;
    color: #ffffff;
    padding: 5px 0;
}

.container .detail .detail-con .detail-form form .right ul li:last-child input{
    flex: 1;
    text-align: center;
    background-color: #666;
    color: #ffffff;
    padding: 5px 0;
}

.container .detail .detail-con .detail-form form .right ul li.li2 {
    color: white;
    padding: 5px 0;
    cursor: pointer;
    border: 0;
    gap: 5px;
}