@import url(../common/reset.css);
@import url(../common/header.css);
@import url(../common/footer.css);

.error {
    color: red;
    border: 1px solid red;
}

.container {
    width: 100%;
}

.container .detail {
    width: 100%;
    height: calc(100vh - 60px - 150px);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}

.container .detail .detail-con {
    /*width: 500px;*/
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .detail .detail-con .detail-form {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.container .detail .detail-con .detail-form h1.title{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #222 ;
    font-size: 30px;
    font-family: "나눔고딕 ExtraBold";
}

.detail .detail-con .detail-form form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.container .detail .detail-con .detail-form form .left {
    flex: 4;
}

.container .detail .detail-con .detail-form form .right {
    flex: 6;
}

.container .detail .detail-con .detail-form .left .left-con img {
    width: 300px;
    height: 300px;
}

.container .detail .detail-con .detail-form .right ul li {
    display: flex;
    justify-content: space-between;
    /*gap: 5px;*/
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
}

.container .detail .detail-con .detail-form form .right ul li label {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
}
.container .detail .detail-con .detail-form form .right ul li.file{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}

.container .detail .detail-con .detail-form form .right ul li input {
    flex: 4;
    padding: 15px;
    border : 1px solid #ccc;
    border-radius: 5px 5px;
    box-sizing: border-box;
}

.container .detail .detail-con .detail-form form .right ul li input[type=file]{
    border: 0;
}

.container .detail .detail-con .detail-form form .right ul li a{
    flex: 1;
    background-color: white;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 0;
    border: 1px solid #222;
    border-radius: 5px 5px;
}

.container .detail .detail-con .detail-form form .right ul li:last-child input{
    flex: 1;
    background-color: white;
    margin-top: 20px;
    font-size: 15px;
    cursor: pointer;
    padding: 5px 0;
    border: 1px solid #222;
    border-radius: 5px 5px;
}

.container .detail .detail-con .detail-form form .right ul li.li2 {
    color: white;
    padding: 5px 0;
    cursor: pointer;
    border: 0;
    gap: 5px;
}