<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>detail1_2</title>
  <link rel="stylesheet" th:href="@{/css/shop/shopDetail.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script th:src="@{/js/reply.js}" defer></script>
</head>
<body>
<div th:replace="~{/fragments/common/header :: headerFragment}"></div>
<div class="container">
  <div class="detail1">
    <div class="detail1-con">
      <div class="top">
        <div class="detail1-form">
          <form th:action="@{/shop/shopUpdate}" method="post" enctype="multipart/form-data">
            <div class="left">
              <div class="left-con">
                <th:block th:if="${shopDto.shopAttachFile==1}"> <!--  이미지 표시 -->
                  <img th:src="@{|/upload/${shopDto.shopNewFileName}|}" alt="이미지대체문구">
                </th:block>
                <th:block th:unless="${shopDto.shopAttachFile==1}">  <!--  이미지 표시 -->
                  <img src="https://placehold.co/400x500?text=NOIMAGE" alt="이미지대체문구">
                </th:block>
              </div>
            </div>
            <ul>
              <li>
                자유게시판
              </li>
              <li>
                <label for="id">ID</label>           <!-- board.getMemberEntity().id -->
                <input type="hidden" name="id" id="id" th:value="${shopDto.id}" readonly>
              </li>
              <li>
                <label for="memberId">MemberId</label>
                <input type="text" name="memberId" id="memberId" th:value="${shopDto.memberEntity.id}" readonly>
              </li>
              <li>
                <label for="shopTitle">TITLE</label>
                <input type="text" name="shopTitle" id="shopTitle" th:value="${shopDto.shopTitle}">
              </li>
              <li>
                <label for="shopContent">CONTENT</label>
              </li>
              <li>
                <textarea name="shopContent" id="shopContent" cols="30" rows="3" th:text="${shopDto.shopContent}"></textarea>
              </li>

              <li>
                <label for="shopHit">HIT</label>
                <input type="text" name="shopHit" id="shopHit" th:value="${shopDto.shopHit}" readonly>
              </li>
              <li>
                <label for="shopPrice">금액</label>
                <input type="text" name="shopPrice" id="shopPrice" th:value="${shopDto.shopPrice}" readonly>
              </li>
              <li>
                <label for="shopSeller">선생님</label>
                <input type="text" name="shopSeller" id="shopSeller" th:value="${shopDto.shopSeller}" readonly>
              </li>
              <li>
                <label for="Count">Count</label>
                <input type="text" name="Count" id="Count" th:value="${shopDto.Count}" readonly>
              </li>


              <li>
                <label for="createTime">작성시간</label>
                <td th:text="${#temporals.format(shopDto.createTime, 'yyyy년-MM월-dd일')}" id="createTime"></td>
              </li>
              <li>
                <label for="updateTime">수정시간</label>
                <td th:text="${#temporals.format(shopDto.updateTime, 'yyyy년-MM월-dd일')}" id="updateTime"></td>
              </li>
              <li>
                <label for="shopFile">File</label>
                <input type="file" name="shopFile" id="shopFile">
              </li>
              <li>
                <th:block sec:authorize="isAuthenticated()">
                <th:blcok th:if="${shopDto.memberEntity.userEmail==myUserDetails.username}">

                <input type="submit" value="수정" class="btn1">

                <a th:href="@{/shop/shopDelete/{id}(id=${shopDto.id})}" class="btn1">삭제</a>
                <a th:href="@{/shop/shopList}" class="btn1">목록</a>
                </th:blcok>
                </th:block>
              </li>
              <li>
                <th:block sec:authorize="isAuthenticated()">
                <th:blcok th:unless="${shopDto.memberEntity.userEmail==myUserDetails.username}">
                  <a th:href="@{/shop/shopList}" class="btn1">목록</a>
                  <a th:href="@{/shop/cart/{id}(id=${shopDto.id})}" class="btn1">장바구니</a>
                </th:blcok>
                </th:block>
              </li>
            </ul>
          </form>
        </div>
      </div>
      <div class="bottom">
        <div class="reply">
          <div class="reply-con">
            <h1>REVIEW LIST</h1>
            <form action="">


            <!--            <form th:action="@{/reply/replyWrite}" method="post">-->
            <input type="hidden" name="shopId" id="shopId" th:value="${shopDto.id}" readonly>
            <input type="text" name="shopReplyContent" id="shopReplyContent" placeholder="덧글내용">
            <input type="text" name="shopReplyWriter" id="shopReplyWriter" placeholder="작성자">
            <input type="button" value="덧글작성" id="replyBtn">

            </form>
            <!--            </form>-->
            <table>
              <thead>
              <tr>
                <th>게시글번호</th>
                <!--                <span id="replyId" th:text="${replyList.get(0).id}"-->
                <th>번호 ></th>
                <th>내용</th>
                <th>작성자</th>
                <th>작성시간</th>
              </tr>
              </thead>
              <tbody class="tData">

              <tr th:each="shopReply:${shopReplyList}"> <!--&lt;!&ndash;reply.getBoardEntity.getId() &ndash;&gt;-->
                <td th:text="${shopReply.shopEntity.id}"></td>
                <td th:text="${shopReply.id}"></td>
                <td th:text="${shopReply.shopReplyContent}"></td>
                <td th:text="${shopReply.shopReplyWriter}"></td>
                <td th:text="${shopReply.createTime}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{/fragments/common/footer :: footerFragment }"></div>
</body>
</html>